<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Day Closings</h1>
            <p>Day closings gives overview of a complete business day.</p>
        </header>

        <p *ngIf="!Days.length">No days has been closed from this location yet.</p>

        <div *ngIf="!IsReady" class="page-loader">
            <i class="fa fa-spin fa-refresh"></i>
        </div>
        <div *ngIf="IsReady">
            <div *ngIf="Days.length">
                <div class="listing-card">
                    <table datatable class="table-hover hover">
                        <thead>
                        <tr>
                            <th>Date &amp; Time</th>
                            <th>Revenue</th>
                            <th>Profit</th>
                            <th>Loss</th>
                            <th>Sales</th>
                            <th>Total Cash</th>
                            <th>Returns</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let day of Days">
                            <td><div class="title-col">{{day.Date.split('T')[0]}} ({{(day.Date.split('T')[1]).split('.')[0]}})</div></td>
                            <td><div>{{day.Revenue}}</div></td>
                            <td><div>{{day.Profit}}</div></td>
                            <td><div>{{day.Loss}}</div></td>
                            <td><div>{{day.Sales}}</div></td>
                            <td><div>{{day.Cash}}</div></td>
                            <td><div>{{day.Returns}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>
</div>
