<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <nav aria-label="breadcrumb">
                <button class="btn btn-primary btn-lg float-right" style="margin-left: 5px" (click)="printReport()">
                    <i class="icon icon-printer"></i> Print
                </button>
                <button class="btn btn-success btn-lg float-right" (click)="triggerTransaction()">Make Transaction
                </button>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/accounts">Accounts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{this.currentAccount['Title']}}</li>
                </ol>
            </nav>

            <div><strong>Account Type:</strong> {{this.currentAccount['AccountType']}}</div>
            <div><strong>Account Identifier:</strong> {{this.currentAccount['Identifier']}}</div>
            <div><strong>Available Balance:</strong> {{this.currentAccount['Balance']}}</div>
        </header>


        <ngx-datatable
                #table
                [loadingIndicator]="loadingIndicator"
                class="material bordered dt-custom-css"
                [limit]="10"
                [sortType]="'multi'"
                [rows]="transactions"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [columnMode]="'force'">
            <ngx-datatable-column [sortable]="true" name="Date">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div>{{row['Date'] | date}}</div>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [sortable]="true" name="Transaction">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span *ngIf="row['From'] && row['To']">{{row['From'].Title+' -> '+row['To'].Title}}</span>
                        <span *ngIf="!row['From'] && !row['To'].Title">-</span>
                        <span *ngIf="row['From'] && row['Supplier']">{{row['From'].Title+' -> '+row['Supplier'].Name}}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="true" name="Purpose">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span>{{row['Purpose']}}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [sortable]="true" name="Reference No">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span>{{row['Ref']}}</span>
                        <span *ngIf="row.Ref === ''">-</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Credit">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span *ngIf="row.To !== undefined && row.To._id === id">{{row['Amount']}}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Debit">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span *ngIf="row.From && row.From._id === id">({{row['Amount']}})</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Amount">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span *ngIf="row.To !== undefined && row.To._id === id && row['ToBalance']">{{row['ToBalance']}}</span>
                        <span *ngIf="row.From && row.From._id === id && row['FromBalance']">{{row['FromBalance']}}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </main>
</div>
