
<form [formGroup]="form_group" (ngSubmit)="submit()" class="config-form" method="post" action="/">


  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <!--<div class="custom-radio mb-0">
        <span>Set Loyalty Program</span>
        <span>
            <input formControlName="IsLoyaltyProgram" value=true id="true" type="radio">
            <label for="true">True</label>
        </span>
        <span>
            <input formControlName="IsLoyaltyProgram" value=false id="false"
                   type="radio">
            <label for="false">False</label>
        </span>
        <div class="invalid-feedback"
             *ngIf="(form_group.get('IsLoyaltyProgram').dirty && form_group.get('IsLoyaltyProgram').errors )">
          Type is required.
        </div>
      </div>-->
      <label>Activate Loyalty Program</label>
      <input title="Set Loyalty Program" formControlName="IsLoyaltyProgram" type="checkbox">
      <hr class="mt-15">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="input-block">
        <label for="LoyaltyPointWorth">Loyalty Point Worth <span class="color-red">*</span></label>
        <input formControlName="LoyaltyPointWorth" id="LoyaltyPointWorth" type="number">
        <div class="invalid-feedback" *ngIf="(form_group.get('LoyaltyPointWorth').dirty && form_group.get('LoyaltyPointWorth').errors )">
          Please enter title for the location.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="input-block">
        <label for="LoyaltyRewardRate">Loyalty Reward Rate <span class="color-red">*</span></label>
        <input formControlName="LoyaltyRewardRate" id="LoyaltyRewardRate" type="number">
        <div class="invalid-feedback" *ngIf="(form_group.get('LoyaltyRewardRate').dirty && form_group.get('LoyaltyRewardRate').errors )">
          Please enter title for the location.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="input-block">
        <label for="LoyaltyPointsValidity">Loyalty Points Validity (days)<span class="color-red">*</span></label>
        <input formControlName="LoyaltyPointsValidity" id="LoyaltyPointsValidity" type="number">
        <div class="invalid-feedback" *ngIf="(form_group.get('LoyaltyPointsValidity').dirty && form_group.get('LoyaltyPointsValidity').errors )">
          Please enter title for the location.
        </div>
      </div>
    </div>
  </div>

  <div class="pt-30">
    <button class="btn btn-success btn-lg btn-round" type="submit" [disabled]="form_group.invalid"><i class="icon icon-save"></i> Save</button>
  </div>
  <div class="submitResponse {{responseType}}">
    <div class="container" [innerHtml]="FormErr"></div>
  </div>
</form>

