<app-navigation></app-navigation>
<div class="app-canvas clearfix">

  <main class="page-area">
    <header>
      <div class="clearfix">
        <h1 class="pull-left">Customers</h1>
        <div class="btn-group pull-right">
          <button type="button" (click)="triggerAddCustomer()" class="btn btn-primary btn-md">Add New Customer</button>
        </div>
      </div>
    </header>


    <div class="row input-block">
      <div class="col-12 col-md-6 col-lg-4">
        <input type='text' placeholder='Search by Name or phone number' (keyup)='updateFilter($event)'/>
      </div>
    </div>

    <ngx-datatable
            #table
            [loadingIndicator]="loadingIndicator"
            class="material bordered dt-custom-css"
            [limit]="10"
            [sortType]="'multi'"
            [rows]="rows"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [columnMode]="'force'">
      <ngx-datatable-column [sortable]="true"  prop="Name" name="Name">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="text-capitalize">
            {{row['Customer']['FirstName']? row['Customer']['FirstName'] : 'N/A'}}
          </div>

        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Email">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Customer']['Email']? row['Customer']['Email']: 'N/A'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" name="Phone">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Customer']['MobileNumber']}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Last Visited">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Customer']['LastVisitedOn']? row['Customer']['LastVisitedOn']: 'N/A'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Total Visits">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Customer']['VisitCount']? row['Customer']['VisitCount']: 'N/A'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Loyalty Points">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Customer']['LoyaltyPoints']? row['Customer']['LoyaltyPoints']: 'N/A'}}
        </ng-template>
      </ngx-datatable-column>

<!--
      <ngx-datatable-column name="Action">
        <ng-template let-column="column" ngx-datatable-header-template>
          <div class="text-center">&emsp;</div>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="text-center">
            <button (click)="deleteCustomer(row['_id'])" class="btn-icon delete"><i class="icon icon-trash-filled m-0"></i></button>
          </div>
        </ng-template>
      </ngx-datatable-column>-->

    </ngx-datatable>

  </main>

</div>


<app-new-customer></app-new-customer>