<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="exampleModal" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()">
        <i class="fa fa-close"></i>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payback Supplier</h5>
                <button type="button" (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submit()" [formGroup]="dataForm" class="{{FormState}}" method="post" action="/">
                    <input type="hidden" formControlName="Company">
                    <input type="hidden" formControlName="Store">
                    <input type="hidden" formControlName="SalesPerson">
                    <input type="hidden" formControlName="Date">

                    <div class="row">
                        <div class="col-12">


                            <div class="input-block">
                                <label for="Supplier">Supplier
                                    <span class="color-red">*</span>
                                </label>
                                <select class="custom-select" id="Supplier" formControlName="Supplier">

                                    <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{supplier.Name}}
                                        {{supplier.Payable}}
                                    </option>
                                </select>

                                <div class="invalid-feedback"
                                     *ngIf="(dataForm.get('Supplier').dirty && dataForm.get('Supplier').errors )">
                                    Please select a Supplier
                                </div>
                            </div>

                            <div class="input-block">
                                <label for="Account">Account
                                    <span class="color-red">*</span>
                                </label>
                                <select class="custom-select" id="Account" formControlName="PaidFrom">

                                    <option *ngFor="let account of accounts" [value]="account._id">{{account.Title}}
                                        {{account.Balance}}
                                    </option>
                                </select>

                                <div class="invalid-feedback"
                                     *ngIf="(dataForm.get('PaidFrom').dirty && dataForm.get('PaidFrom').errors )">
                                    Please select a Account
                                </div>
                            </div>


                            <div class="input-block">
                                <label for="Amount">Amount
                                    <span class="color-red">*</span>
                                </label>
                                <input formControlName="AmountPaid" id="Amount" type="number">
                                <div class="invalid-feedback"
                                     *ngIf="(dataForm.get('AmountPaid').dirty && dataForm.get('AmountPaid').errors )">
                                    Invalid Amount
                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="pt-30">
                        <button class="btn btn-success btn-lg btn-round">
                            <i class="icon icon-save"></i> Make Payment
                        </button>
                    </div>

                    <div [innerHtml]="FormErr"></div>

                </form>

            </div>
        </div>
    </div>
</div>
