
<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="NewTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <span *ngIf="!isDeposit">New Transaction</span>
          <span *ngIf="isDeposit">Deposit Funds</span>
        </h5>
        <button type="button"  (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit()" [formGroup]="dataForm" class="{{FormState}}" method="post" action="/">
          <input type="hidden" formControlName="User">
          <input type="hidden" formControlName="Company">
          <div class="row" *ngIf="!isDeposit">
            <div class="col-12 col-md-6">
              <div class="input-block">
                <label for="From">From <span *ngIf="!isDeposit" class="color-red">*</span></label>
                <select class="custom-select" (change)="selectFrom($event)" id="From" formControlName="From">
                  <option value="">Transfer from...</option>
                  <optgroup *ngIf="banks.length > 0" label="Banks">
                    <option *ngFor="let account of banks" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="creditCards.length > 0" label="Credit Card">
                    <option *ngFor="let account of creditCards" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="cashDrawers.length > 0" label="Cash Drawer/Register">
                    <option *ngFor="let account of cashDrawers" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="cashInHand.length > 0" label="Cash in hand">
                    <option *ngFor="let account of cashInHand" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="others.length > 0" label="Others">
                    <option *ngFor="let account of others" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                </select>
                <div class="invalid-feedback" *ngIf="(dataForm.get('From').dirty && dataForm.get('From').errors )">
                  Please select an account.
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-block">
                <label for="To">To <span class="color-red">*</span></label>
                <select class="custom-select" (change)="selectTo($event)" id="To" formControlName="To">
                  <option value="">Transfer to...</option>
                  <optgroup *ngIf="banks.length > 0" label="Banks">
                    <option *ngFor="let account of banks" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="creditCards.length > 0" label="Credit Card">
                    <option *ngFor="let account of creditCards" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="cashDrawers.length > 0" label="Cash Drawer/Register">
                    <option *ngFor="let account of cashDrawers" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="cashInHand.length > 0" label="Cash in hand">
                    <option *ngFor="let account of cashInHand" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                  <optgroup *ngIf="others.length > 0" label="Others">
                    <option *ngFor="let account of others" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                  </optgroup>
                </select>
                <div class="invalid-feedback" *ngIf="(dataForm.get('To').dirty && dataForm.get('To').errors )">
                  Please select an account.
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isDeposit">
            <input type="hidden" formControlName="From">
            <div class="input-block">
              <label for="To">To <span class="color-red">*</span></label>
              <select disabled class="custom-select" (change)="selectTo($event)" id="To" formControlName="To">
                <option value="">Transfer to...</option>
                <optgroup *ngIf="banks.length > 0" label="Banks">
                  <option *ngFor="let account of banks" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                </optgroup>
                <optgroup *ngIf="creditCards.length > 0" label="Credit Card">
                  <option *ngFor="let account of creditCards" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                </optgroup>
                <optgroup *ngIf="cashDrawers.length > 0" label="Cash Drawer/Register">
                  <option *ngFor="let account of cashDrawers" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                </optgroup>
                <optgroup *ngIf="cashInHand.length > 0" label="Cash in hand">
                  <option *ngFor="let account of cashInHand" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                </optgroup>
                <optgroup *ngIf="others.length > 0" label="Others">
                  <option *ngFor="let account of others" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                </optgroup>
              </select>
              <div class="invalid-feedback" *ngIf="(dataForm.get('To').dirty && dataForm.get('To').errors )">
                Please select an account.
              </div>
            </div>
          </div>
          <div *ngIf="sameAccountErr" class="color-red">Transaction to same account is not allowed.</div>

          <div class="input-block">
            <label for="Amount">Amount <span class="color-red">*</span></label>
            <input type="text" (keyup)="checkForNumber($event)" step=any formControlName="Amount" id="Amount">
            <div class="invalid-feedback" *ngIf="(dataForm.get('Amount').dirty && dataForm.get('Amount').errors )">
              Please enter a valid amount.
            </div>
          </div>

          <div class="input-block">
            <label for="Purpose">Purpose <span class="color-red">*</span></label>
            <input type="text" formControlName="Purpose" id="Purpose">
            <div class="invalid-feedback" *ngIf="(dataForm.get('Purpose').dirty && dataForm.get('Purpose').errors )">
             Please mention the purpose of this transaction.
            </div>
          </div>

          <div class="input-block">
            <label for="Ref">Reference <small>i.e. cheque ID, bank transaction number etc</small></label>
            <input type="text" formControlName="Purpose" id="Ref">
          </div>


         <div class="pt-2">
           <button class="btn btn-block btn-success btn-lg">Submit</button>
         </div>

        </form>
        <div [innerHtml]="FormErr"></div>
      </div>
    </div>
  </div>
</div>



