<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Incoming Shipment Details</h5>
                <button type="button" (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="border-0">Product</th>
                            <th class="border-0">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of shipment['Products']">
                            <td>{{product['Product']['Name']}}</td>
                            <td>{{product['Quantity']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="acceptTransfer()">Confirm</button>
               
            </div>
        </div>
    </div>
</div>
