<form (ngSubmit)="submit()" [formGroup]="form">
    <div formArrayName="ProductSchema" *ngFor="let item of getProductProperties().controls; let i = index;">
        <div [formGroupName]="i">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="Property">Product Property</label>
                        <input class="c-input" formControlName="Name" type="text" id="Property">
                        <div class="invalid-feedback"
                             *ngIf="(form.get('Property')?.dirty && form.get('Property').errors )">
                            Please enter a Property.
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-4 col-12">
                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="p">Property Type</label>

                        <select class="custom-select" formControlName="Type" id="p">
                            <option value="number">Number</option>
                            <option value="text">Text</option>
                            <option value="phone">Phone</option>
                        </select>
                    </div>
                </div>-->
                <div>
                    <div class="c-field u-mb-small delete-field-btn">
                        <button type="button" class="btn btn-danger" (click)="removeProductProperty($event,i)">
                            <i class="fa fa-trash-o u-mr-xsmall"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="form-btns">
        <button type="button" (click)="addProductProperty()" class="btn btn-primary btn-md">Add Property</button>
        <button [disabled]="!form.valid" type="submit" class="btn btn-success btn-md">Save</button>
    </div>
</form>
<div class="submitResponse {{responseType}}">
    <div class="container" [innerHtml]="FormErr"></div>
</div>