<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <button class="closeModal btn-cover-modal" (click)="ToggleModal()">
    <i class="fa fa-close"></i>
  </button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Receipt Detail</h5>
          <button type="button" (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngIf="receipt['TransactionType'] === 'sale' || receipt['TransactionType'] === 'purchase'" class="border-0">&emsp;</th>
              <th class="border-0">Barcode</th>
              <th class="border-0">Product</th>
              <th class="border-0">Quantity</th>
              <th class="border-0">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of receipt['Products']">
              <td class="align-middle" *ngIf="receipt['TransactionType'] === 'sale' || receipt['TransactionType'] === 'purchase'">
                <input type="checkbox" [disabled]='disableEditing' (change)="addProductToReceipt($event.target.checked,product)">
              </td>
              <td class="align-middle"><strong>{{product['Product']['Barcode']}}</strong></td>
              <td class="align-middle"><strong>{{product['Product']['Name']}}</strong></td>
              <td>
                <input type="number" [(value)]="product['Quantity']" (change)="changeProductQuantity($event,product['Product']['_id'])" ngMax="product['Quantity']"
                  [disabled]='disableEditing' step="any">
              </td>
              <td class="align-middle">{{product['Product']['Price']}}</td>
            </tr>

          </tbody>
        </table>
          <!--<div>Discount Given :{{originalReceipt?.Discount}}</div>-->
          <!--<input [value]="discountForPatch" type="number">-->
          <!--<button (click)="patchProductForDiscount()">Patch it</button>-->
      </div>

      <div class="modal-footer" *ngIf="receipt['TransactionType'] !== 'transfer' && receipt['TransactionType'] !== 'receive'">
          <div style="width: 100%;">
              <table class="table table-bordered">
                  <tr>
                      <th>Date</th>
                      <td>{{receipt['createdAt'] | date:'medium'}}</td>
                  </tr>
                  <tr *ngIf="receipt['TransactionType']==='sale' || receipt['TransactionType']==='purchase' ">
                      <th>SubTotal</th>
                      <td>{{receipt['SubTotal']}}</td>
                  </tr>
                  <tr *ngIf="receipt['TransactionType']==='sale' || receipt['TransactionType']==='purchase' ">
                      <th>Discount</th>
                      <td>{{receipt['Discount']}}</td>
                  </tr>
                  <tr>
                      <th>Paid</th>
                      <td>{{receipt['AmountPaid']}}</td>
                  </tr>
                  <tr>
                      <th>Payment Method</th>
                      <td>{{receipt['PaymentMethod'] ? receipt['PaymentMethod']: 'Cash'}}</td>
                  </tr>

              </table>
              <span *ngIf="receipt['Comment']">{{receipt['Comment']}}</span>
              <div class="clearfix">
                  <button type="button" *ngIf="receipt['TransactionType']==='sale' || receipt['TransactionType']==='purchase' " class="btn btn-danger btn-block btn-lg" (click)="toggleReceiptEditing()">{{btnText}}</button>
              </div>
          </div>
      </div>

        <div class="modal-footer" *ngIf="receipt['TransactionType'] === 'receive'">
            <div style="width: 100%;">
                <table class="table table-bordered">
                    <tr>
                        <th>Shipment From</th>
                        <td>{{StoreName}}</td>
                    </tr>


                </table>

            </div>
        </div>
    </div>
  </div>
</div>
