<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <div class="clearfix">
                <h1 class="pull-left">Receipts</h1>
            </div>
        </header>


        <div class="row input-block">

            <div class="col-12 col-md-6 col-lg-4">
                <label>Search
                </label>
                <input type='text' placeholder='Search by barcode' (keyup)='updateFilter($event.target.value)'
                       [(ngModel)]="searchText"/>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="suppliers">Receipt Type
                </label>
                <select class="custom-select" (change)="changeFilter($event)">
                    <option value="all">All</option>
                    <option value="sale">Sales</option>
                    <option value="purchase">Purchase</option>
                    <option value="receive">Shipments</option>
                    <option value="transfer">Transfers</option>
                    <option value="return">Returns</option>
                    <option value="returnPurchase">Purchase Returns</option>
                    <option value="payback">Payback Supplier</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4" *ngIf="filter==='purchase' || filter==='returnPurchase'">
                    <label for="suppliers">Supplier
                    </label>
                    <select class="custom-select" id="suppliers" (change)="selectSupplier($event)">
                        <option *ngFor="let supplier of suppliers" value="{{supplier._id}}">{{supplier['Name']}}</option>
                    </select>

            </div>

        </div>




        <ngx-datatable #table [loadingIndicator]="loadingIndicator" class="material bordered dt-custom-css"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [limit]="10"
                       [rows]="rows" [columnMode]="'force'">
            <ngx-datatable-column name="#">

                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{rowIndex}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Barcode">
                <ng-template let-column="column" let-sort="sortFn" class="datatable-header"
                             ngx-datatable-header-template>
                    <span (click)="sort()">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span *ngIf="row['LocalId']">
            <ngx-barcode [bc-width]="1" [bc-height]="20" [bc-font-size]="16" [bc-font]="'Quicksand'"
                         [bc-value]="row['LocalId']" [bc-display-value]="true"></ngx-barcode>
          </span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Staff">
                <ng-template let-column="column" let-sort="sortFn" class="datatable-header"
                             ngx-datatable-header-template>
                    <span (click)="sort()">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="row['SalesPerson']">{{row.SalesPerson.FirstName +' ' +row.SalesPerson.LastName }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date">
                <ng-template let-column="column" let-sort="sortFn" class="datatable-header"
                             ngx-datatable-header-template>
                    <span (click)="sort()">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="row['Date']">{{row['Date'] | date:'medium' }} </span>
                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column name="Payment Method">
                <ng-template let-column="column" let-sort="sortFn" class="datatable-header text-center"
                             ngx-datatable-header-template>
                    <span (click)="sort()">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-center" *ngIf="row['PaymentMethod']">{{row['PaymentMethod']}}</div>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="Action">
                <ng-template let-column="column" let-sort="sortFn" class="datatable-header text-center"
                             ngx-datatable-header-template>
                    <span (click)="sort()">{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-center" *ngIf="row['Products']">
                        <button class="btn btn-lg" (click)="showReceiptDetail(row)">View Details</button>
                    </div>
                </ng-template>

            </ngx-datatable-column>


        </ngx-datatable>


    </main>
</div>

<app-receipt-detail></app-receipt-detail>
