<div class="non-printable">
    <header class="receipt-header">
        <app-network-status></app-network-status>
      <div class="cash-register-panel" *ngIf="TransactionType === 'sale'">
        Connected to cash register : {{selectedCashRegisterName}}
      </div>
        <div class="rh-inner clearfix">
            <div class="search-wrap">
                <input type='text' [(ngModel)]="searchText" placeholder="Search by Name or barcode" (keyup)="updateFilter()"/>
            </div>
            <div class="receipt-quick-view">
                <div class="label-card bg-default text-center">
                    <strong *ngIf="TransactionType !== 'transfer'">{{subTotal | currency:'RS '}} - {{discount | currency:'RS '}}</strong>
                    <strong *ngIf="TransactionType === 'transfer'">0 - 0</strong>
                    <div>subtotal - discount</div>
                </div>
                <div class="label-card bg-success">
                    <span class="d-none toPay">{{total}}</span>
                    <strong *ngIf="TransactionType !== 'transfer'">{{total | currency:'RS '}}</strong>
                    <strong *ngIf="TransactionType === 'transfer'">0</strong>
                    <div>Total Payable</div>
                </div>
                <div class="label-card" *ngIf="change > 0 && TransactionType !== 'transfer'">
                    <strong>{{change | currency:'RS '}}</strong>
                    <div>Change</div>
                </div>
            </div>
        </div>
    </header>
    <div class="{{FormState}}">
        <div class="app-canvas clearfix">
            <main class="page-area wide">

                <div class="receipt-generator clearfix">
                    <div class="cart-status">
                        <div class="overflow-y-auto">
                        <span *ngIf="!cart.length" class="empty-cart-wrap">
                            <img class="empty-cart" src="./assets/images/empty_cart.png" alt="empty cart">
                            <span>Empty Cart.</span>
                        </span>
                            <div *ngIf="cart.length" class="overflow-scroll">
                                <table *ngIf="TransactionType === 'sale'" class="table cart-table">
                                    <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of cart;let cartIndex = index;">
                                        <td><input title="set quantity" step="any" type="number" value="{{product.Quantity}}" (blur)="setNumber($event,1)" (change)="QtyUpdated($event, product.Product, cartIndex)" (keyup)="QtyUpdated($event, product.Product, cartIndex)"></td>
                                        <td [innerHTML]="product.Product.Name"></td>
                                        <td>{{product.Product.Price*product.Quantity}}</td>
                                        <td><button class="btn btn-danger text-center" (click)="removeProduct(product)"><i class="fa fa-trash m-0"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="TransactionType === 'purchase'" class="table cart-table">
                                    <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of cart; let cartIndex = index;">
                                        <td><input title="set quantity" step="any" type="number" value="{{product.Quantity}}" (blur)="setNumber($event,1)" (change)="QtyUpdatedPurchase($event, product.Product, cartIndex)" (keyup)="QtyUpdatedPurchase($event, product.Product, cartIndex)"></td>
                                        <td>{{product.Product.Name}}</td>
                                        <td><input title="enter your cost" step="any" type="number" value="{{product.Product.Cost ? product.Product.Cost : '0'}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" (change)="costUpdated($event, product.Product, cartIndex)" (keyup)="costUpdated($event, product.Product, cartIndex)"></td>
                                        <td>{{(product.Product.Cost || 0) * product.Quantity}}</td>
                                        <td><button class="btn btn-danger text-center" (click)="removeProductPurchase(product)"><i class="fa fa-trash m-0"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="TransactionType === 'transfer'" class="table cart-table">
                                    <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of cart;let cartIndex = index;">
                                        <td><input title="set quantity" step="any" type="number" value="{{product.Quantity}}" (blur)="setNumber($event,1)" (change)="QtyUpdatedPurchase($event, product.Product, cartIndex)" (keyup)="QtyUpdatedPurchase($event, product.Product, cartIndex)"></td>
                                        <td>{{product.Product.Name}}</td>
                                        <td *ngIf="TransactionType == 'transfer'"><button class="btn btn-danger text-center" (click)="removeProductFromTransfer(product)"><i class="fa fa-trash m-0"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                    <div class="items-listing">
                        <div class="overflow-y-auto">
                            <div class="overflow-scroll">
                                <div class="row row-eq-height product-cards">
                                    <div *ngFor="let product of filteredProducts; let i= index;" class="col-12 col-sm-6 col-xl-4 product-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="badge badge-pill badge-success">RS {{product.Price}}</span>
                                                <span *ngIf="product.ProductType && product.ProductType.toLowerCase() == 'deal'" class="badge badge-pill badge-primary">{{product.ProductType}}</span>
                                                <span class="badge badge-pill badge-default" *ngIf="product['Category'] && product['Category'].length && product['Category'][0].Name">{{product['Category'][0].Name}}</span>
                                                <h6>{{product.Name}}</h6>
                                                <div>{{product.Barcode}}</div>

                                              <div *ngIf="product.ProductType && product.ProductType.toLowerCase() == 'deal'" class="deal-items">
                                                <div *ngFor="let sub of product.SubItems">
                                                  <label>
                                                    <input class="dealOption" name="{{sub.Product._id}}" title="select item" type="checkbox" disabled="{{sub.IsBasic ? 'disabled' : ''}}" checked="{{sub.IsBasic ? 'checked' : ''}}">
                                                    <span>{{sub.Product.Name}}</span></label>
                                                </div>
                                              </div>

                                                <span class="tags" *ngIf="product['Tags'] && product['Tags'].length"><i class="icon icon-tag"></i>
                                                <span *ngFor="let tag of product['Tags']">
                                                    <span *ngIf="!tag.IsCategory">{{tag.Name}}</span>
                                                </span>
                                            </span>
                                            </div>
                                            <button *ngIf="TransactionType === 'purchase'" class="add-to-cart" (click)="addToCartPurchase(product)">Add to Cart</button>
                                            <button *ngIf="TransactionType === 'sale' && product.ProductType && product.ProductType.toLowerCase() === 'deal'" class="add-deal btn btn-primary btn-block" (click)="addToCart($event,product)">Add to Cart</button>
                                            <button *ngIf="TransactionType === 'sale' && !(product.ProductType && product.ProductType.toLowerCase() === 'deal')" class="add-to-cart" (click)="addToCart($event,product)">Add to Cart</button>
                                            <button *ngIf="TransactionType === 'transfer'" class="add-to-cart" (click)="addToCartTransfer(product)">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer class="receipt-footer"  *ngIf="cart.length">
            <form (ngSubmit)="submit()" [formGroup]="dataForm" class="rf-inner clearfix">

                <div class="input-block lg outsider">
                    <label for="Comment">Comments (optional)</label>
                    <input type="text" formControlName="Comment" id="Comment">
                </div>
                <div class="pull-right">
                    <div class="input-block md" *ngIf="TransactionType === 'purchase'">
                        <label>Supplier <a class="small-link link" (click)="newSupplier()">Create New</a></label>
                        <select title="supplier" class="custom-select" formControlName="Supplier"  id="Supplier">
                            <optgroup label="Existing Suppliers">
                                <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{supplier.Name}}</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="input-block md" *ngIf="TransactionType === 'transfer'">
                        <label for="ShippedTo">Transfer to</label>
                        <select class="custom-select" formControlName="ShippedTo" (change)="hardRevalidate()" id="ShippedTo">
                            <optgroup *ngIf="outlets.length" label="Outlets">
                                <option *ngFor="let outlet of outlets"  [value]="outlet._id">{{outlet.Name}}</option>
                            </optgroup>
                            <optgroup *ngIf="warehouses.length" label="Warehouses">
                                <option *ngFor="let warehouse of warehouses"  [value]="warehouse._id">{{warehouse.Name}}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="input-block md" *ngIf="TransactionType == 'purchase' || TransactionType == 'sale'">
                        <label for="PaymentMethod">Payment Method  <span class="color-red">*</span></label>
                        <select class="custom-select" formControlName="PaymentMethod" id="PaymentMethod" (change)="paymentMethodChanged()">
                          <option>Select transaction account...  </option>
                          <optgroup *ngIf="banks.length > 0" label="Banks">
                            <option *ngFor="let account of banks" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                          </optgroup>
                          <optgroup *ngIf="creditCards.length > 0" label="Credit Card">
                            <option *ngFor="let account of creditCards" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                          </optgroup>
                          <optgroup *ngIf="cashRegisters.length > 0" label="Cash Drawer/Register">
                            <option *ngFor="let account of cashRegisters" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                          </optgroup>
                          <optgroup *ngIf="cashInHand.length > 0" label="Cash in hand">
                            <option *ngFor="let account of cashInHand" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                          </optgroup>
                          <optgroup *ngIf="others.length > 0" label="Others">
                            <option *ngFor="let account of others" value="{{account._id}}">{{account['Title']}} - {{account['Store'] ? account['Store']['Name'] : 'Company Account' }}</option>
                          </optgroup>
                          <optgroup *ngIf="TransactionType === 'purchase'" label="On Credit">
                            <option value="oncredit">Transaction on Credit</option>
                          </optgroup>
                        </select>
                    </div>
                    <div class="input-block discount-wrap" *ngIf="TransactionType == 'purchase' || TransactionType == 'sale' ">
                      <input type="hidden" id="subTotal" value="{{subTotal}}">
                        <label for="Discount">Discount</label>
                        <div class="input-with-drop">
                          <input type="text" formControlName="Discount" id="Discount" (change)="setDiscount()" (keyup)="setDiscount($event)">
                          <select id="discountType" (change)="setDiscountType($event)">
                            <option value="percentage">%</option>
                            <option value="flat">RS</option>
                          </select>
                        </div>
                    </div>
                    <div class="input-block" *ngIf="TransactionType == 'purchase' || TransactionType == 'sale'">
                        <label for="AmountPaid">Paid <span class="color-red">*</span></label>
                        <input type="text" formControlName="AmountPaid" id="AmountPaid" (change)="setAmountPaid($event)" (keyup)="setAmountPaid($event)">
                    </div>
                    <button class="btn btn-primary process-cart" type="submit"><i class="fa fa-spin fa-refresh m-0"></i>Process</button>
                </div>
            </form>
        </footer>

    </div>
    <div id="pseudo-barcode-wrap" class="d-none">
        <svg id="pseudo-barcode"></svg>
    </div>

  <div class="connect-drawer" *ngIf="!selectedCashRegister && TransactionType === 'sale'">
    <div class="connect-drawer-inner">
      <header>
        <h4>Please select a cash drawer/register</h4>
      </header>
      <div class="connect-drawer-canvas">
        <div class="input-block">
          <select title="Select a cash register" class="custom-select" id="cashRegister">
            <option *ngFor="let register of cashRegisters" value="{{register['_id']}}">{{register['Title']}} ({{register['Identifier']}})</option>
          </select>
        </div>
        <button class="btn btn-success btn-lg btn-block" (click)="selectRegister()">Okay</button>
        <br>
        <em>Connecting a checkout point/counter with a cash register makes it easy to track the money.</em>
      </div>
    </div>
  </div>

    <app-supplier></app-supplier>
</div>
<div class="printable-canvas"></div>

