<div class="height-100">
    <div class="centered-form">
        <div class="card">
            <div class="card-body">
                <div class="app-logo">
                    <div class="al-inner">
                        <a href="/"><img src="assets/images/logo.png" alt=""></a>
                    </div>
                </div>
                <form (ngSubmit)="submit()" [formGroup]="LoginForm" class="{{LoginState}}">
                    <div class="input-block">
                        <input formControlName="username" id="username" placeholder="Username" type="text">
                        <div class="invalid-feedback" *ngIf="(LoginForm.get('username').dirty && LoginForm.get('username').errors )">
                            Please enter valid Username.
                        </div>
                    </div>
                    <div class="input-block">
                        <input formControlName="password" id="password" placeholder="Password" type="password">
                        <div class="invalid-feedback" *ngIf="(LoginForm.get('password').dirty && LoginForm.get('password').errors )">
                            Please enter valid password.
                        </div>
                    </div>
                    <button class="btn btn-success btn-lg btn-block btn-round"><i class="fa fa-spinner fa-spin"></i>Login</button>
                    <div class="input-block text-center">
                        <div class="invalid-feedback mt-20" *ngIf="(LoginErr)">
                            Invalid username or password.
                        </div>
                        <div class="invalid-feedback mt-20 text-center" *ngIf="(AuthError)">
                            Not authorized to access web panel.
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>