<div *ngIf="locationId" class="off-canvas">
    <button class="close-off-canvas nav-toggle" (click)="toggleOffCanvasMenu()"></button>
    <div class="off-canvas-menu">
        <nav>
            <h5>Receipts</h5>
            <ul>
                <li><a target="_blank" href="/locations/{{locationId}}/receipt?type=sale"><i class="icon icon-invoice"></i> Make a Sale</a></li>
                <li><a target="_blank" href="/locations/{{locationId}}/receipt?type=transfer"><i class="icon icon-outbound"></i> Transfer Stock</a></li>
                <li><a target="_blank" href="/locations/{{locationId}}/receipt?type=purchase"><i class="icon icon-inbound"></i> Purchase Order</a></li>
            </ul>
           <h5>Products</h5>
            <ul>
                <li><a (click)="triggerAddProduct()"><i class="icon icon-basket"></i> Add Product</a></li>
                <li><a (click)="triggerImport()"><i class="fa fa-file-excel-o"></i> Import Excel Sheet</a></li>
            </ul>

            <h5>Supplier</h5>
            <ul>
                <!--<li><a href=""><i class="icon icon-user"></i> Add Supplier</a></li>-->
                <li><a (click)="triggerPaybackToSupplier()"><i class="icon icon-outbound"></i> Payback Supplier</a></li>
                <!-- <li><a href=""><i class="icon icon-id-card"></i> Add User</a></li>
                 <li><a href=""><i class="icon icon-tag"></i> Add Tag / Category</a></li>-->
             </ul>
             <h5 *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'">Accounts</h5>
             <ul *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'">
                 <li><a (click)="triggerTransaction()"><i class="icon icon-pan"></i> Make a Transaction</a></li>
                 <li><a (click)="triggerCreateAccount()"><i class="icon icon-pan"></i> Create an Account</a></li>
              </ul>
            <h5>Miscellaneous</h5>
             <ul>
                 <li><a (click)="triggerExpense()"><i class="icon icon-pan"></i> Add Expense</a></li>
              </ul>
            <h5 *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'">Users</h5>
             <ul *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'">
               <li><a [routerLink]="['/locations/' + locationId + '/users']" routerLinkActive="active">Staff</a></li>
              </ul>
            <ul>
                <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + locationId + '/edit']" ><i class="icon icon-settings"></i> Settings</a></li>
                <li><a (click)="logout()"><i class="icon icon-power"></i> Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
<header class="doc-header">
    <app-network-status></app-network-status>
    <a class="app-logo" href="/"><span><img src="assets/images/logo.png" alt="storehunch"></span></a>
    <div class="dh-inner clearfix">
        <nav class="main-nav">

            <div class="locationSelector">
              <div class="btn-group" *ngIf="currentUser.AccessLevel === 'SuperAdmin'">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="myStore">{{ myStore.Name }} <small>{{ myStore.StoreType }}</small> </span>
                  <span *ngIf="!myStore || !myStore.Name">Select Location</span>
                </button>
                <div class="dropdown-menu" *ngIf="outlets.length || warehouses.length">
                  <div *ngIf="outlets.length" class="dropdown-group">
                    <h6 class="dropdown-header"><i class="icon icon-store"></i> outlets</h6>
                    <a class="dropdown-item" *ngFor="let outlet of outlets" [routerLink]="['/locations/' + outlet._id]">{{ outlet.Name }}</a>
                  </div>
                  <div *ngIf="outlets.length && warehouses.length" class="dropdown-divider"></div>
                  <div *ngIf="warehouses.length" class="dropdown-group">
                    <h6 class="dropdown-header"><i class="icon icon-warehouse"></i> warehouses</h6>
                    <a class="dropdown-item" *ngFor="let warehouse of warehouses" [routerLink]="['/locations/' + warehouse._id]">{{ warehouse.Name }}</a>
                  </div>
                </div>
                <div class="dropdown-menu" *ngIf="!outlets.length && !warehouses.length">
                  <div *ngIf="outlets.length" class="dropdown-group">
                    No Locations found.
                  </div>
                </div>
              </div>
              <div class="btn-group" *ngIf="currentUser.AccessLevel !== 'SuperAdmin'">
                <button [routerLink]="['/locations/' + locationId]" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="myStore">{{ myStore.Name }} <small>{{ myStore.StoreType }}</small> </span>
                </button>
              </div>
            </div>

            <div class="nav-links">
              <ul *ngIf="!locationId">
                <li><a href="/taxonomies">Categories & tags</a></li>
              </ul>
              <ul *ngIf="locationId">
                <li><a [routerLink]="['/locations/' + locationId + '/products']" routerLinkActive="active">Products</a></li>
                <!--<li><a [routerLink]="['/locations/' + locationId + '/days']" routerLinkActive="active">Day Closings</a></li>-->
                <li><a [routerLink]="['/locations/' + locationId + '/receipts' ]" routerLinkActive="active">Receipts</a></li>
                <!--<li><a [routerLink]="['/locations/' + locationId + '/accounts' ]" routerLinkActive="active">Accounts</a></li>-->
                <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + locationId + '/reports' ]" routerLinkActive="active">Reports</a></li>
                <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/accounts' ]" routerLinkActive="active">Accounts</a></li>
                <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + locationId + '/suppliers']" routerLinkActive="active">Suppliers</a></li>
                <!--<li *ngIf="currentUser.AccessLevel === 'SuperAdmin' || currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + locationId + '/suppliers']" routerLinkActive="active">Activity Center</a></li>-->
              </ul>
            </div>

        </nav>
        <button *ngIf="locationId" type="button" (click)="toggleOffCanvasMenu()" class="btn btn-success pull-right nav-toggle">
            <i class="fa fa-navicon"></i> Menu
        </button>
        <div *ngIf="!locationId" class="btn-group account-actions">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon icon-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="logout()"><i class="icon icon-power"></i> Logout</a>
            </div>
        </div>
        <a target="_blank" href="/locations/{{locationId}}/receipt?type=sale" *ngIf="locationId" type="button" class="btn btn-warning pull-right">
            Make Receipt
        </a>
    </div>
</header>

<app-excel-import></app-excel-import>
<app-expense *ngIf="locationId"></app-expense>
<app-new-product></app-new-product>
<app-supplier-payback></app-supplier-payback>
<app-account-new></app-account-new>
<app-transaction></app-transaction>
