<div class="web-app wide-page">
    <div class="page-canvas">
        <div class="pc-inner">
            <div class="centered-form text-center">
               <h1>404</h1>
                <p>You have been 404'd. </p>
                <a href="/" class="btn btn-success btn-md">Go to Dashboard</a>
            </div>
        </div>
    </div>
</div>
