<nav class="secondary-nav">
    <ul *ngIf="LocationId">
        <li><a [routerLink]="['/locations/' + LocationId + '/products']" routerLinkActive="active"><i class="icon icon-basket"></i>Products</a></li>
        <!--<li><a [routerLink]="['/locations/' + LocationId + '/days']" routerLinkActive="active"><i class="icon icon-invoice"></i>Day Closings</a></li>-->
        <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + LocationId + '/reports' ]" routerLinkActive="active"><i class="icon icon-chart"></i>Reports</a></li>
        <li><a [routerLink]="['/locations/' + LocationId + '/receipts' ]" routerLinkActive="active"><i class="icon icon-coins"></i>Receipts</a></li>
        <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + LocationId + '/users']" routerLinkActive="active"><i class="icon icon-id-card"></i>Staff</a></li>
        <li *ngIf="currentUser && currentUser.AccessLevel === 'SuperAdmin' || currentUser && currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + LocationId + '/suppliers']" routerLinkActive="active"><i class="icon icon-user"></i>Suppliers</a></li>
        <!--<li *ngIf="currentUser.AccessLevel === 'SuperAdmin' || currentUser.AccessLevel === 'Admin'"><a [routerLink]="['/locations/' + LocationId + '/suppliers']" routerLinkActive="active"><i class="icon icon-bell"></i>Activity Center</a></li>-->
    </ul>
    <ul *ngIf="!LocationId">
        <li><a href="/"><i class="icon icon-home"></i> Home</a></li>
        <li><a [routerLink]="['/taxonomies']" routerLinkActive="active"><i class="icon icon-tag"></i>Tags and Categories</a></li>
    </ul>
</nav>