
<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="AccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5><span *ngIf="!accountToEdit">New Account</span><span *ngIf="accountToEdit">Edit Account</span></h5>
        <button type="button"  (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit(true)" [formGroup]="dataForm" class="{{FormState}}" method="post" action="/">
          <input type="hidden" formControlName="Store" value="currentUser.Store" *ngIf="currentUser.AccessLevel !== 'SuperAdmin' && !accountToEdit">
          <input type="hidden" formControlName="Store" *ngIf="accountToEdit">
          <div class="row">
            <div class="col-12">
              <div class="input-block">
                <label for="AccountType">Account Type <span class="color-red">*</span></label>
                <select class="custom-select" id="AccountType" formControlName="AccountType">
                  <option value="">Set Account Type</option>
                  <option value="BankAccount">Bank Account / Debit Card</option>
                  <option value="CreditCard">Credit Card</option>
                  <option value="CashDrawer">Cash Drawer / Register</option>
                  <option value="CashInHand">Cash in Hand</option>
                  <option value="Other">Others</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="input-block">
                <label for="Title">Title <span class="color-red">*</span></label>
                <input formControlName="Title" id="Title" type="text">
                <div class="invalid-feedback" *ngIf="(dataForm.get('Title').dirty && dataForm.get('Title').errors )">
                  Title is required.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-block">
                <label for="Identifier">Identifier <span class="color-red">*</span><small>i.e. bank account number, serial, counter number etc</small></label>
                <input formControlName="Identifier" id="Identifier" type="text">
                <div class="invalid-feedback" *ngIf="(dataForm.get('Identifier').dirty && dataForm.get('Identifier').errors )">
                  Identifier is required.
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="currentUser.AccessLevel === 'SuperAdmin'">
              <div class="input-block">
                <label for="Store">Account linked to : </label>
                <select class="custom-select" formControlName="Store" id="Store">
                  <option value="">None</option>
                  <optgroup label="Warehouses" *ngIf="warehouses.length">
                    <option *ngFor="let warehouse of warehouses" value="{{warehouse._id}}">{{warehouse.Name}}</option>
                  </optgroup>
                  <optgroup label="Outlets" *ngIf="outlets.length">
                    <option *ngFor="let outlet of outlets" value="{{outlet._id}}">{{outlet.Name}}</option>
                  </optgroup>
                </select>
                <div class="invalid-feedback" *ngIf="(dataForm.get('Store').dirty && dataForm.get('Store').errors )">
                  Please select a location
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-block">
                <label for="AccountDescription">AccountDescription</label>
                <input type="text" formControlName="AccountDescription" id="AccountDescription" >
                <div class="invalid-feedback" *ngIf="(dataForm.get('AccountDescription').dirty && dataForm.get('AccountDescription').errors )">
                  Description is required.
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-block btn-lg btn-success">Submit</button>
        </form>
        <div class="container" [innerHtml]="FormErr"></div>
      </div>
    </div>
  </div>
</div>



