<app-navigation></app-navigation>
<div class="app-canvas clearfix">

  <main class="page-area">
    <header>
      <h1>Accounts <button class="btn btn-success btn-lg float-right" (click)="triggerCreateAccount()"><i class="fa fa-plus"></i> Add New</button></h1>
    </header>


    <ngx-datatable
            #table
            [loadingIndicator]="loadingIndicator"
            class="material bordered dt-custom-css"
            [limit]="10"
            [sortType]="'multi'"
            [rows]="accounts"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [columnMode]="'force'">
      <ngx-datatable-column [sortable]="true" name="Title">
        <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div>{{row['Title']}}</div>
          <small *ngIf="row.Store && currentUser.AccessLevel === 'SuperAdmin'">{{row.Store.Name}}</small>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Account Type">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="text-capitalize">
            <span>{{row['AccountType']}}</span>
          </div>

        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Account Description">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template><div class="text-capitalize">
          <span>{{row['AccountDescription']}}</span>
          <span *ngIf="row.AccountDescription === ''">N/A</span>
        </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Balance">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template><div class="text-capitalize">
          <span>{{row['Balance']}}</span>
        </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template><div class="text-capitalize">
          <button class="btn" [routerLink]="['/accounts/'+row._id]">View Transactions</button>
          <button class="btn" (click)="triggerDeposit(row['_id'])">Deposit</button>
        </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </main>
</div>
