
<header>
  <h1>Expense Categories  <button  (click)="ToggleModal()" class="btn btn-primary btn-lg float-right"><i class="fa fa-plus"></i> Create New</button></h1>
  <p>Tags and categories help organise your inventory</p>
</header>

<div class="row">
  <div class="col-12 col-md-6">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-25"><i class="icon icon-categories"></i> Categories</h4>
        <div class="category-listing">
          <ul>
            <li *ngFor="let cat of categories" style="text-transform: capitalize">{{cat.Name}} <a class="link" (click)="editCategory(cat._id,cat.Name)">edit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{isEdit? 'Edit': 'Create New'}} Expense Category</h5>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit()" [formGroup]="formGroup" class="config-form">
          <div class="config-block mb-0">
            <input type="hidden" formControlName="Company">
            <div class="row">
              <div class="col-12">
                <div class="input-block">
                  <label for="Name">Name <span class="color-red">*</span></label>
                  <input formControlName="Name" id="Name" type="text">
                  <div class="invalid-feedback" *ngIf="(formGroup.get('Name').dirty && formGroup.get('Name').errors )">
                    Please enter a name.
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg mt-20 btn-round"><i class="icon icon-save"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

