<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Users <a class="btn btn-success btn-lg float-right" [routerLink]="['/locations/'+LocationId+'/users/new']"><i class="fa fa-plus"></i> Add New</a></h1>
        </header>
        <app-people [LocationId]="LocationId"></app-people>
    </main>
</div>
