
<app-navigation></app-navigation>
<div class="app-canvas clearfix">
    <main class="page-area">

        <button class="btn btn-primary btn-md float-right" (click)="printReport()">
            <i class="icon icon-printer"></i> Print</button>
        <header>
            <h1>Hi {{CurrentUser?.FirstName}} {{CurrentUser?.LastName}}.</h1>
            <p>Here’s what’s happening today.</p>
        </header>



        <div class="row row-eq-height">
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-cart"></i> Sales</strong>
                        <h3><span class="align-middle">{{Totals?.Sales}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-cart"></i> Purchases</strong>
                        <h3><span class="align-middle">{{Totals?.Purchases}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-inbound"></i> Revenue</strong>
                        <h3><span class="align-middle">{{Totals?.Revenue | currency:'RS '}}</span></h3>
                    </div>
                </div>
            </div>
            <div  *ngIf="CurrentUser?.AccessLevel ==='SuperAdmin' || CurrentUser?.AccessLevel ==='Admin' " class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Profit</strong>
                        <h3><span class="align-middle">{{Totals?.Profit | currency:'RS '}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Discounts</strong>
                        <h3><span class="align-middle">{{Totals?.Discounts | currency:'RS '}}</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Cash Sales</strong>
                        <h3><span class="align-middle">{{Totals?.SaleOnCash}}</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Credit Card Sales</strong>
                        <h3><span class="align-middle">{{Totals?.CreditCardSale}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Cheque Sales</strong>
                        <h3><span class="align-middle">{{Totals?.ChequeSale}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Bank Transfer Sales</strong>
                        <h3><span class="align-middle">{{Totals?.BankTransferSale}}</span></h3>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Cash Purchases</strong>
                        <h3><span class="align-middle">{{Totals?.PurchaseOnCash }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Credit Purchases</strong>
                        <h3><span class="align-middle">{{Totals?.PurchaseOnCredit}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Cheque Purchases</strong>
                        <h3><span class="align-middle">{{Totals?.PurchaseOnCheque}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Bank Transfer Purchases</strong>
                        <h3><span class="align-middle">{{Totals?.PurchaseOnBankTransfer}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Expenses</strong>
                        <h3><span class="align-middle">{{Totals?.Expense | currency:'RS '}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">

                        <strong><i class="icon icon-money"></i> Cash Returns</strong>
                        <h3><span class="align-middle">{{Totals?.Returns}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-card-wrap">
                <div class="card">
                    <div class="card-body">
                        <strong><i class="icon icon-money"></i> Cash Returns Amount</strong>
                        <h3><span class="align-middle">{{Totals?.CashReturns}}</span></h3>
                    </div>
                </div>
            </div>
         </div>

        <header class="pt-50">
            <h1>Actions Center</h1>
            <p>Followings require your approval</p>
        </header>


        <div class="card">
            <div class="card-body" *ngIf="IncomingStock && IncomingStock.length">
                <ul class="activity-list" >
                    <li class="list-header">
                        Title
                        <div class="actions">
                            Actions
                        </div>
                    </li>
                    <li *ngFor="let stock of IncomingStock">
                        Incoming shipment from <strong>'{{stock.Store['Name']}}'</strong>
                        <div class="actions">
                            <button class="btn btn-primary" (click)="showShipment(stock)">View Shipment</button>
                        </div>
                    </li>
                    <!-- &lt;!&ndash;todo: add this in superadmin's action center&ndash;&gt;
                    &lt;!&ndash;newly added products will be shown only to superadmin&ndash;&gt;
                    &lt;!&ndash;<li>New products has been added, approval is required.
                        <div class="actions">
                            <button class="btn btn-primary">View Products</button>
                        </div>
                    </li>&ndash;&gt; -->
                </ul>
            </div>
            <div class="card-body text-center" *ngIf="!IncomingStock">
                <img src="assets/images/ballon.png" alt="/">
                <br>
                <br>
                <div>No actions required. We wil keep an eye out!</div>
            </div>
        </div>

    </main>
</div>


<app-incoming-shipment></app-incoming-shipment>



