<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Edit Information</h1>
            <p>Provide following information to create a new location.</p>
        </header>
        <form (ngSubmit)="submit()" [formGroup]="form_group" class="config-form" method="post" action="/">


            <div class="custom-radio">
                <span>Set location type</span>
                <span>
                    <input id="Outlet" type="radio" formControlName="StoreType" value="Outlet">
                <label for="Outlet">Outlet</label>
                </span>
               <span>
                    <input id="Warehouse" type="radio" formControlName="StoreType" value="Warehouse">
                    <label for="Warehouse">Warehouse</label>
               </span>
                <div class="invalid-feedback" *ngIf="(form_group.get('StoreType').dirty && form_group.get('StoreType').errors )">
                    Please select location type
                </div>
            </div>

          <div class="custom-radio">
            <span>Set receipt Size</span>
            <span>
                    <input id="mm80" type="radio" formControlName="ReceiptPageSize" value="mm80">
                <label for="mm80">80 mm</label>
                </span>
            <span>
                    <input id="mm55" type="radio" formControlName="ReceiptPageSize" value="mm55">
                    <label for="mm55">55 mm</label>
               </span>
            <div class="invalid-feedback" *ngIf="(form_group.get('ReceiptPageSize').dirty && form_group.get('ReceiptPageSize').errors )">
              Please set receipt
            </div>
          </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="input-block">
                        <label for="Name">Location Title <span class="color-red">*</span></label>
                        <input formControlName="Name" id="Name" type="text">
                        <div class="invalid-feedback" *ngIf="(form_group.get('Name').dirty && form_group.get('Name').errors )">
                            Please enter title for the location.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="input-block">
                        <label for="Phone">Phone Number<span class="color-red">*</span></label>
                        <input formControlName="Phone" id="Phone" type="tel">
                        <div class="invalid-feedback" *ngIf="(form_group.get('Phone').dirty && form_group.get('Phone').errors )">
                            Please enter landline or mobile number for the location.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="input-block">
                        <label for="Email">Email Address</label>
                        <input formControlName="Email" id="Email" type="text">
                        <div class="invalid-feedback" *ngIf="(form_group.get('Email').dirty && form_group.get('Email').errors )">
                            Please enter landline or mobile number for the location.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-block">
                        <label for="Street">Street Address<span class="color-red">*</span></label>
                        <input formControlName="Street" id="Street" type="text">
                        <div class="invalid-feedback" *ngIf="(form_group.get('Street').dirty && form_group.get('Street').errors )">
                            Please enter street address.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-block">
                        <label for="City">City<span class="color-red">*</span></label>
                        <input formControlName="City" id="City" type="text">
                        <div class="invalid-feedback" *ngIf="(form_group.get('City').dirty && form_group.get('City').errors )">
                            Please enter city.
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-30">
                <button class="btn btn-success btn-lg btn-round" type="submit"><i class="icon icon-save"></i> Save</button>
            </div>
            <div [innerHtml]="FormErr"></div>
        </form>
    </main>
</div>

