

<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import Products from excel sheet.</h5>
                <button type="button"  (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="excelImport {{FormState}}">
                    <div class="input-file-wrap ">
                        <div class="big-progressbar" [ngStyle]="{'width': progress.status + '%'}">
                           <div class="loader"><span [innerHtml]="progress.text"></span></div>
                        </div>
                        <h6>Drag drop a file or click here.</h6>
                        <p>Please do not import same products multiple times, unless you have specified barcodes. </p>
                        <input type="file"  #excel (change)="importExcelData($event)">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

