<div class="row input-block">
  <div class="col-12 col-md-6 col-lg-4">
    <input type='text' placeholder='Search by Name' (keyup)='updateFilter($event)'/>

  </div>
  <button class="btn btn-primary btn-md float-right" (click)="printReport()">
    <i class="icon icon-printer"></i> Print</button>
</div>

<ngx-datatable #table  [scrollbarH]="true" [loadingIndicator]="loadingIndicator" class="material bordered dt-custom-css" [limit]="50" [headerHeight]="50"
               [footerHeight]="50" [rowHeight]="'auto'"  [rows]="rows" [columnMode]="'force'">
  <ngx-datatable-column [sortable]="true" name="Category">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Name}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="true" name="Revenue">
    <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
      <span>{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Revenue?.toFixed(1)}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="true" name="Profit">
    <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
      <span>{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Profit?.toFixed(1)}}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

