<div class="row input-block">
  <div class="col-12 col-md-6 col-lg-4">
    <input type='text' placeholder='Search by Name or barcode' (keyup)='updateFilter($event)'/>
  </div>
  <button class="btn btn-primary btn-md float-right" (click)="printReport()">
    <i class="icon icon-printer"></i> Print</button>
  <div class="row">
    <div class="col-12">
      <div class="custom-checkbox mb-0">
        <span>Select Columns to Print</span>
        <div class="row">
          <div class="col-lg-2" *ngFor="let col of columns;let i=index">
            <input id="i" [checked]="col.IncludeInPrint" type="checkbox" (change)="columnSelectionChanged($event,i)">
            <label for="i">{{col.Key}}</label>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<ngx-datatable #table [scrollbarH]="true" [loadingIndicator]="loadingIndicator" class="material bordered dt-custom-css" [limit]="50" [headerHeight]="50"
               [footerHeight]="50"   [rowHeight]="'auto'"  [rows]="rows" [columnMode]="'force'">


  <ngx-datatable-column [sortable]="true" name="Barcode">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Barcode}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="true" name="Name">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Name}}
    </ng-template>
  </ngx-datatable-column>




  <!--<ngx-datatable-column [sortable]="true" name="Stock In Inventory">-->
    <!--<ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>-->
      <!--<span >{{column.name}}</span>-->
    <!--</ng-template>-->
    <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
      <!--{{row['StockLeft']}}-->
    <!--</ng-template>-->
  <!--</ngx-datatable-column>-->

  <ngx-datatable-column [sortable]="true" name="Current Stock (Acc. To Receipts)">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.StockAccordingToReceipts}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [sortable]="true" name="Revenue">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Revenue?.toFixed(1)}}
    </ng-template>
  </ngx-datatable-column>



  <ngx-datatable-column [sortable]="true" name="Profit">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Profit?.toFixed(1)}}
    </ng-template>
  </ngx-datatable-column>



  <ngx-datatable-column [sortable]="true" name="Sales">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Sales}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [sortable]="true" name="Returns">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Returns}}
    </ng-template>
  </ngx-datatable-column>


  <!--<ngx-datatable-column [sortable]="true" name="Returns Amount">-->
    <!--<ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>-->
      <!--<span (click)="sort()">{{column.name}}</span>-->
    <!--</ng-template>-->
    <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
      <!--{{row.ReturnsAmount}}-->
    <!--</ng-template>-->
  <!--</ngx-datatable-column>-->


  <ngx-datatable-column [sortable]="true" name="Discounts">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Discounts?.toFixed(1)}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [sortable]="true" name="Purchases">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Purchases}}
    </ng-template>
  </ngx-datatable-column>

  <!--<ngx-datatable-column [sortable]="true" name="Purchase Amount">-->
    <!--<ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>-->
      <!--<span (click)="sort()">{{column.name}}</span>-->
    <!--</ng-template>-->
    <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
      <!--{{row.PurchaseAmount}}-->
    <!--</ng-template>-->
  <!--</ngx-datatable-column>-->

  <ngx-datatable-column [sortable]="true" name="Purchase Returns">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.ReturnPurchases}}
    </ng-template>
  </ngx-datatable-column>



  <!--<ngx-datatable-column [sortable]="true" name="Purchase Returns Amount">-->
    <!--<ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>-->
      <!--<span (click)="sort()">{{column.name}}</span>-->
    <!--</ng-template>-->
    <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
      <!--{{row.ReturnPurchaseAmount}}-->
    <!--</ng-template>-->
  <!--</ngx-datatable-column>-->



  <ngx-datatable-column [sortable]="true" name="Transfers">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Transfers}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="true" name="Shipments">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.Shipments}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="true" name="Positive Correction">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.PositiveCorrection}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="true" name="Negative Correction">
    <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.NegativeCorrection}}
    </ng-template>
  </ngx-datatable-column>






</ngx-datatable>
