<div class="row input-block">
    <div class="col-12 col-md-6 col-lg-4">
        <input type='text' placeholder='Search by Date' (keyup)='updateFilter($event)'/>
    </div>
    <button class="btn btn-primary btn-md float-right" (click)="printReport()">
        <i class="icon icon-printer"></i> Print
    </button>
    <div class="row">
        <div class="col-12">
            <div class="custom-checkbox mb-0">
                <span>Select Columns to Print</span>
                <div class="row">
                    <div class="col-lg-2" *ngFor="let col of columns;let i=index">
                        <input id="i" [checked]="col.IncludeInPrint" type="checkbox" (change)="columnSelectionChanged($event,i)">
                        <label for="i">{{col.Key}}</label>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<ngx-datatable #table [scrollbarH]="true" [loadingIndicator]="loadingIndicator" class="material bordered dt-custom-css"
               [limit]="50" [headerHeight]="50"
               [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [columnMode]="'force'">

    <ngx-datatable-column [sortable]="true" name="Date">
        <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header"
                     ngx-datatable-header-template>
            <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Date}}
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [sortable]="true" name="Sales">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Sales}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Revenue">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Revenue?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Profit">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Profit?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="true" name="Discounts">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Discounts?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Cash Sales">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.SaleOnCash?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="true" name="Credit Card Sales">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.CreditCardSale?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Cheque Sales">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.ChequeSale?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="true" name="Bank Transfer Sales">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.BankTransferSale?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [sortable]="true" name="Cash Purchases">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.PurchaseOnCash?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="true" name="Credit Purchases">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.PurchaseOnCredit?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Cheque Purchases">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.PurchaseOnCheque?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="true" name="Bank Transfer Purchases">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.PurchaseOnBankTransfer?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Expenses">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Expense?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>


</ngx-datatable>
