<h3 class="mt-0">Gross Earnings : {{GrossEarning?.toFixed(1)}}</h3>

<button class="btn btn-primary btn-md float-right" (click)="printReport()">
    <i class="icon icon-printer"></i> Print
</button>
<h3>Expenses</h3>

<ngx-datatable #table [scrollbarH]="true" [loadingIndicator]="loadingIndicator" class="material bordered dt-custom-css"
               [limit]="50"
               [headerHeight]="50"
               [footerHeight]="50" [rowHeight]="'auto'" [rows]="Expenses" [columnMode]="'force'">

    <ngx-datatable-column [sortable]="true" name="Date">
        <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header"
                     ngx-datatable-header-template>
            <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.createdAt | date}}
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [sortable]="true" name="Expense">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Title}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true" name="Amount">
        <ng-template let-row="row" let-column="column" class="datatable-header" ngx-datatable-header-template>
            <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.Amount?.toFixed(1)}}
        </ng-template>
    </ngx-datatable-column>


</ngx-datatable>
