<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Reports</h1>
        </header>
        <div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>Start Date</span>
                        <input type="date" class="form-control" #datefrom (input)="setDateFrom(datefrom.value)"
                               data-toggle="datepicker" placeholder="start date">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>End Date</span>
                        <input type="date" class="form-control" #dateto (input)="setDateTo(dateto.value)"
                               data-toggle="datepicker" placeholder="End Date">
                    </div>
                </div>
            </div>
            <div class="pt-50">
                <ul class="nav nav-tabs report-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{reportsTypeFilter[0]?'active':'disabled'}}"
                           (click)="reportsTypeChanged(0)">Totals</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{reportsTypeFilter[1]?'active':'disabled'}}"
                           (click)="reportsTypeChanged(1)">Profit & Loss Statement</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{reportsTypeFilter[2]?'active':'disabled'}}"
                           (click)="reportsTypeChanged(2)">Daily Sales Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{reportsTypeFilter[3]?'active':'disabled'}}"
                           (click)="reportsTypeChanged(3)">Category Wise Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{reportsTypeFilter[4]?'active':'disabled'}}"
                           (click)="reportsTypeChanged(4)">Stock Report</a>
                    </li>

                </ul>
            </div>

            <div class="report-panels">


                <div class="{{reportsTypeFilter[0]?'d-block':''}}" style="display: none">
                    <h3 class="mt-0">Sale & Purchase : {{dateRange}}</h3>

                    <button class="btn btn-primary btn-md float-right" (click)="printReport()">
                        <i class="icon icon-printer"></i> Print
                    </button>
                    <div class="pt-50">
                        <ngx-datatable #table [scrollbarH]="true" [loadingIndicator]="loadingIndicator"
                                       class="material bordered dt-custom-css"
                                       [limit]="50"
                                       [headerHeight]="50"
                                       [footerHeight]="50" [rowHeight]="'auto'" [rows]="totalsToBind"
                                       [columnMode]="'force'">

                            <ngx-datatable-column [sortable]="true" name="Head">
                                <ng-template let-column="column" let-sort="sortFn" class="datatable-header"
                                             ngx-datatable-header-template>
                                    <span>{{column.name}}</span>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    {{row['Head'].replace('\/([A-Z])\/g', ' $1').trim()}}
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column [sortable]="true" name="Amount">
                                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                                    <span>{{column.name}}</span>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    {{row.Amount?.toFixed(0)}}
                                </ng-template>
                            </ngx-datatable-column>


                        </ngx-datatable>
                    </div>
                </div>

                <app-profit-loss-statement class="{{reportsTypeFilter[1]?'d-block':''}}"
                                           style="display: none"></app-profit-loss-statement>
                <app-datewise-sales-journal class="{{reportsTypeFilter[2]?'d-block':''}}"
                                            style="display: none"></app-datewise-sales-journal>
                <app-category-wise-sales-report class="{{reportsTypeFilter[3]?'d-block':''}}"
                                                style="display: none"></app-category-wise-sales-report>
                <app-cumilative-stock-sales-report class="{{reportsTypeFilter[4]?'d-block':''}}"
                                                   style="display: none"></app-cumilative-stock-sales-report>
            </div>

        </div>
    </main>
</div>
