<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
           <div class="clearfix">
               <h1 class="pull-left">Suppliers</h1>
           </div>
        </header>


        <!-- <div class="row input-block">
            <div class="col-12 col-md-6 col-lg-4">
                <input type='text' placeholder='Search by barcode' (keyup)='updateFilter($event)' [(ngModel)]="searchText"/>
            </div>

        </div> -->

        <ngx-datatable
                #table
                [loadingIndicator]="loadingIndicator"
                class="material bordered dt-custom-css"
                [limit]="10"
                [sortType]="'multi'"
                [rows]="suppliers"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [columnMode]="'force'">
            <ngx-datatable-column [sortable]="true" name="Name">
                    <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                        <span>{{column.name}}</span>
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                       <span *ngIf="row['Name']">{{row['Name']}}</span>
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Phone">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                   <span *ngIf="row['Phone']">{{row['Phone']}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="true" name="Address">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="row['Address']">{{row['Address']}}</span>
                </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Email">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="row['Email']" style="word-wrap:break-word;">{{row['Email']}}</span>
                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="true" name="Payable">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span  >{{row['Payable']}}</span>
                </ng-template>

            </ngx-datatable-column>

        </ngx-datatable>


    </main>
</div>



