<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supplier</h5>
                <button type="button" (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="submit()" [formGroup]="formGroup" class="{{FormState}}" method="post" action="/">
                <div class="modal-body">

                    <input type="hidden" formControlName="Company">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">

                            <div class="input-block">
                                <label for="Name">Name <span class="color-red">*</span></label>
                                <input formControlName="Name" id="Name" type="text">
                                <div class="invalid-feedback"
                                     *ngIf="(formGroup.get('Name').dirty && formGroup.get('Name').errors )">
                                    Name is required.
                                </div>
                            </div>

                            <div class="input-block">
                                <label for="Phone">Phone <span class="color-red">*</span></label>
                                <input formControlName="Phone" id="Phone" type="text">
                                <div class="invalid-feedback"
                                     *ngIf="(formGroup.get('Phone').dirty && formGroup.get('Phone').errors )">
                                    Phone is required.
                                </div>
                            </div>
                            <div class="input-block">
                                <label for="Address">Address</label>
                                <input formControlName="Address" id="Address" type="text">
                            </div>

                            <div class="input-block">
                                <label for="Email">Email </label>
                                <input formControlName="Email" id="Email" type="Email">
                                <div class="invalid-feedback"
                                     *ngIf="(formGroup.get('Email').dirty && formGroup.get('Email').errors )">
                                    Please enter valid email address.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [innerHtml]="FormErr"></div>
                </div>
                <div class="modal-footer align-items-start">
                    <button class="btn btn-success btn-lg btn-block btn-round"><i class="icon icon-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

