<div class="modal-page {{ModalState?'d-block':''}}">
    <form (ngSubmit)="submit(true)" [formGroup]="form" class="{{FormState}}" method="post" action="/">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h3><span *ngIf="!productToEdit">New Product</span><span
                                *ngIf="productToEdit">Edit Product</span></h3>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-actions text-md-right">
                            <button type="submit" class="btn btn-md btn-warning btn-round">Save and Exit</button>
                            <button *ngIf="!productToEdit" type="button" (click)="submit(false)"
                                    class="btn btn-md btn-success btn-round">Save and Add More
                            </button>
                            <button type="button" (click)="closeModal()" class="btn btn-md btn-danger btn-round">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="mp-inner">
                <input type="hidden" formControlName="Company">
                <input type="hidden" formControlName="Approved">
                <input formControlName="ProductType" value="Single" id="Single" type="hidden">

                <div class="row">
                    <div class="col-12 col-md-8">

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-block">
                                    <label for="Name">Name <span class="color-red">*</span></label>
                                    <input formControlName="Name" id="Name" type="text">
                                    <div class="invalid-feedback"
                                         *ngIf="(form?.get('Name')?.dirty && form?.get('Name').errors )">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-block">
                                    <label for="Barcode">Barcode</label>
                                    <input formControlName="Barcode" id="Barcode" type="text">
                                    <div class="invalid-feedback"
                                         *ngIf="(form.get('Barcode')?.dirty && form.get('Barcode').errors )">
                                        Barcode already exists.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-block">
                                    <label for="Price">Price <span class="color-red">*</span></label>
                                    <input formControlName="Price" (keyup)="checkForNumber($event)" id="Price"
                                           type="text">
                                    <div class="invalid-feedback"
                                         *ngIf="(form.get('Price')?.dirty && form.get('Price').errors )">
                                        Price is required.
                                    </div>
                                    <em class="small">Purchase Cost is calculated from your purchase invoices.</em>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div *ngIf="categories" class="input-block">
                                    <label for="categories">Select a Category <span class="color-red">*</span></label>
                                    <select class="custom-select" formControlName="Category" id="categories">
                                        <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat?.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h6>Select Tags</h6>
                                <div class="custom-tag-selector">
                                    <div class="custom-dropdown">
                                        <input id="searchTags" autocomplete="off" (keyup)="filterTags($event)"
                                               type="search" placeholder="search tags">
                                        <div *ngIf="filteredTags.length" class="search-results">
                                            <button type="button" *ngFor="let tag of filteredTags"
                                                    (click)="selectTag(tag)">{{tag?.Name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="selected-tags">
                                    <span class="badge badge-pill badge-lg badge-primary badge-chips"
                                          *ngFor="let tag of selectedTags">{{tagNames[tag]}} <button
                                            class="icon icon-remove" (click)="deSelectTag(tag)"></button></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" >
                            <div class="col-12">
                                <h3>Extra Properties</h3>
                                <div formArrayName="CustomProperties">
                                    <div class="row">
                                        <div class="col-4"
                                             *ngFor="let item of getProductProperties()?.controls; let i = index;">
                                            <div [formGroupName]="i">
                                                <div class="input-block">
                                                    <label class="c-field__label" for="Property">{{form.value?.CustomProperties[i].Name}}</label>
                                                    <input class="c-input" formControlName="Value" type="text"
                                                           id="Property">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="mb-34">Upload images of your product here</h4>
                        <hr class="mt-15">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-block">
                                    <label for="Name">upload <span class="color-red">*</span></label>
                                    <input id="productImage" type="file" (change)="onFileChange($event)" #fileInput
                                           multiple>
                                </div>
                            </div>
                        </div>
                        <!--div to append product images for preview-->
                        <div class="clearfix product-images">
                            <figure class="product-image" *ngFor="let file of localFileUrls; let i = index">
                                <div class="{{file.loading?'loader': ''}}">
                                    <i class="fa fa-spinner fa-spin" *ngIf="file.loading"></i>
                                    <img [src]="sanitize(file.path)" alt="">
                                    <button type="button" class="remove-image fa fa-close"
                                            (click)="onImageDelete( $event, i)"></button>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="submitResponse {{responseType}}">
        <div class="container" [innerHtml]="FormErr"></div>
    </div>

</div>
