<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">


        <header>
           <div class="clearfix">
               <h1 class="pull-left">Inventory</h1>
               <div class="btn-group pull-right">
                   <button class="btn btn-primary btn-md float-right"  style="margin-right: 5px" (click)="printReport()">
                       <i class="icon icon-printer"></i> Print</button>
                   <button type="button" (click)="triggerAddProduct()" class="btn btn-primary btn-md">Add New Product</button>
                   <button type="button" class="btn btn-primary btn-md dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <span class="sr-only">more options</span>
                   </button>
                   <div class="dropdown-menu dropdown-menu-right">
                       <a class="dropdown-item" (click)="triggerImport()">Import from excel sheet</a>
                   </div>
               </div>
           </div>
        </header>


        <div class="row input-block">
            <div class="col-12 col-md-6 col-lg-4">
                <input type='text' placeholder='Search by Name or barcode' (keyup)='updateFilter($event)'/>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!--<label for="categories">Category-->
                <!--</label>-->
                <select class="custom-select" id="categories" (change)="filterByCategory($event)">
                    <option value="">Select a category</option>
                    <option *ngFor="let category of categories" value="{{category._id}}">{{category['Name']}}</option>
                </select>

            </div>
        </div>

        <ngx-datatable
                #table
                [loadingIndicator]="loadingIndicator"
                class="material bordered dt-custom-css"
                [limit]="10"
                [sortType]="'multi'"
                [rows]="rows"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [columnMode]="'force'">
            <ngx-datatable-column [sortable]="true" name="Barcode">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                   <span *ngIf="row['Barcode']">{{row['Barcode']}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true"  prop="Name" name="Name">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        {{row['Name']}}
                    </div>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Price">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['Price']}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="true" name="Stock">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="row.Attribute">
                        <span *ngIf="row.Attribute.Stock > 0 && row.Attribute.Stock <= 10 " class="badge badge-pill badge-warning">{{ row.Attribute.Stock }}</span>
                        <span *ngIf="row.Attribute.Stock > 10" class="badge badge-pill badge-success">{{ row.Attribute.Stock }}</span>
                        <span *ngIf="row.Attribute.Stock < 1" class="badge badge-pill badge-danger">{{ row.Attribute.Stock }}</span>
                    </span>
                    <span *ngIf="!row.Attribute">
                        <span class="badge badge-pill badge-gray"><i class="fa fa-spin fa-refresh"></i></span>
                    </span>

                </ng-template>
            </ngx-datatable-column>



            <ngx-datatable-column name="Category">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="tags-listing" *ngIf="row.Category">
                        <span class="badge badge-pill">{{row.Category.Name}}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tags">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="tags-listing" *ngIf="row.Tags && row.Tags.length">
                        <span *ngFor="let t of row.Tags">{{t.Name}}, </span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Audit">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div >
                        <button (click)="auditProduct(row)" class="btn">Audit</button>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-center">&emsp;</div>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-center">
                        <button (click)="editProduct(row['_id'])" class="btn-icon"><i class="icon icon-edit-filled m-0"></i></button>
                    </div>
                </ng-template>
            </ngx-datatable-column>


        </ngx-datatable>


    </main>
</div>
<app-product-audit></app-product-audit>


