<div class="web-app wide-page">
    <div class="page-canvas">
        <div class="pc-inner">
            <div class="centered-form bigger">

                <div class="app-logo">
                    <div class="al-inner">
                        <a href="/"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                </div>

                <form (ngSubmit)="submit()" [formGroup]="SignUpForm" class="{{FormState}}">

                    <!--TODO: Find better way to set level-->
                    <input type="hidden" value="owner">

                    <div class="loadingEffect">
                        <i class="fa fa-spin fa-refresh"></i>
                    </div>
                    <h3>Your Information</h3>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="FirstName" id="FirstName" placeholder="First name" type="text">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('FirstName').dirty && SignUpForm.get('FirstName').errors )">
                                    Please enter your first name.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="LastName" id="LastName" placeholder="Last name" type="text">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('LastName').dirty && SignUpForm.get('LastName').errors )">
                                    Please your last name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="Email" id="Email" placeholder="Email" type="email">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('Email').dirty && SignUpForm.get('Email').errors )">
                                    Please enter a valid email address.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="MobileNumber" id="MobileNumber" placeholder="Mobile number" type="text">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('MobileNumber').dirty && SignUpForm.get('MobileNumber').errors )">
                                    Please enter your mobile number.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="Username" id="Username" placeholder="Username" type="text">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('Username').dirty && SignUpForm.get('Username').errors )">
                                    Please enter valid Username.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="input-block">
                                <input formControlName="Password" id="Password" placeholder="Password" type="password">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('Password').dirty && SignUpForm.get('Password').errors )">
                                    Password should be atleast 6 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Brand/Business Name</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-block">
                                <input formControlName="Name" id="Name" placeholder="Store name" type="text">
                                <div class="invalid-feedback" *ngIf="(SignUpForm.get('Name').dirty && SignUpForm.get('Name').errors )">
                                    Please enter a store name
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info btn-lg btn-block">Signup</button>

                    <div [innerHtml]="FormErr"></div>

                </form>
            </div>
        </div>
    </div>
</div>
