<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Reports
                <button class="btn btn-primary btn-md float-right">
                    <i class="icon icon-printer"></i> Print
                </button>
            </h1>
        </header>
        <div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>Start Date</span>
                        <input type="date" class="form-control" #datefrom (input)="setDateFrom(datefrom.value)"
                               data-toggle="datepicker" placeholder="start date">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>End Date</span>
                        <input type="date" class="form-control" #dateto (input)="setDateTo(dateto.value)"
                               data-toggle="datepicker" placeholder="End Date">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px; margin-top: 20px"> <!-- class="report-panels"-->
                <div class="report-panels" id="dailySalesChart"
                     style="height: 600px;width:100%;"></div>
            </div>

            <div class="row"  style="margin-bottom: 20px">
                <div class="report-panels" id="categoryChart"
                     style="height: 600px;width:100%;"></div>
            </div>
            <div class="row"  style="margin-bottom: 20px">
                <div class="report-panels" id="categoryWisesalesChart"
                     style="height: 600px;width:100%;"></div>
            </div>
            <div class="row"  style="margin-bottom: 20px">
                <div class="report-panels" id="expenseChart"
                     style="height: 600px;width:100%;"></div>
            </div>


            <div class="pt-50">


                <div class="config-block mb-0 pt-50">
                    <h3>Totals</h3>
                    <ngx-datatable #table [scrollbarH]="true" [loadingIndicator]="loadingIndicator"
                                   class="material bordered dt-custom-css" [limit]="50" [headerHeight]="50"
                                   [footerHeight]="50" [rowHeight]="'auto'" [rows]="Totals" [columnMode]="'force'">

                        <ngx-datatable-column [sortable]="true" name="Date">
                            <ng-template let-row="row" let-column="column" let-sort="sortFn" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span (click)="sort()">{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Date}}
                            </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column [sortable]="true" name="Sales">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Sales}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Revenue">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Revenue}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Profit">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Profit}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" name="Discounts">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Discounts}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Cash Sales">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.SaleOnCash}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" name="Credit Card Sales">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.CreditCardSale}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Cheque Sales">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.ChequeSale}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" name="Bank Transfer Sales">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.BankTransferSale}}
                            </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column [sortable]="true" name="Cash Purchases">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.PurchaseOnCash}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" name="Credit Purchases">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.PurchaseOnCredit}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Cheque Purchases">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.PurchaseOnCheque}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" name="Bank Transfer Purchases">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.PurchaseOnBankTransfer}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" name="Expenses">
                            <ng-template let-row="row" let-column="column" class="datatable-header"
                                         ngx-datatable-header-template>
                                <span>{{column.name}}</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.Expense}}
                            </ng-template>
                        </ngx-datatable-column>


                    </ngx-datatable>

                </div>

            </div>
        </div>
    </main>
</div>
