<form (ngSubmit)="submit()" [formGroup]="PeopleForm" class="config-form" method="post" action="/">
            <input type="hidden" formControlName="Company">
            <input type="hidden" formControlName="Store" id="Store">
            <input type="hidden" formControlName="UserType">
            <div class="config-block">
                <header>
                    <h3 *ngIf="!IsEdit">Create New User</h3>
                    <h3 *ngIf="IsEdit">Edit User</h3>
                </header>


                <div class="custom-radio">
                    <span>Set User Role</span>
                    <span *ngFor="let lvl of AccessLevels">
                        <input formControlName="AccessLevel" value="{{lvl}}" id="{{lvl}}" type="radio">
                        <label for="{{lvl}}">{{lvl}}</label>
                    </span>
                    <div class="invalid-feedback" *ngIf="(PeopleForm.get('AccessLevel').dirty && PeopleForm.get('AccessLevel').errors )">
                        Please select location type.
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="input-block">
                            <label for="FirstName">First Name <span class="color-red">*</span></label>
                            <input formControlName="FirstName" id="FirstName" type="text">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('FirstName').dirty && PeopleForm.get('FirstName').errors )">
                                Please enter your first name.
                            </div>
                        </div>
                        <div class="input-block">
                            <label for="LastName">Last Name <span class="color-red">*</span></label>
                            <input formControlName="LastName" id="LastName"  type="text">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('LastName').dirty && PeopleForm.get('LastName').errors )">
                                Please your last name.
                            </div>
                        </div>
                        <div class="input-block">
                            <label for="MobileNumber">Mobile Number <span class="color-red">*</span></label>
                            <input formControlName="MobileNumber" id="MobileNumber" type="text">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('MobileNumber').dirty && PeopleForm.get('MobileNumber').errors )">
                                Please enter your mobile number.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="input-block">
                            <label for="Email">Email </label>
                            <input formControlName="Email" id="Email"  type="email">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('Email').dirty && PeopleForm.get('Email').errors )">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="input-block">
                            <label for="Username">Username <span class="color-red">*</span></label>
                            <input formControlName="Username" id="Username" type="text">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('Username').dirty && PeopleForm.get('Username').errors )">
                                Please enter valid Username.
                            </div>
                        </div>
                        <div class="input-block">
                            <label for="Password">Password <span class="color-red">*</span></label>
                            <input formControlName="Password" id="Password" type="password">
                            <div class="invalid-feedback" *ngIf="(PeopleForm.get('Password').dirty && PeopleForm.get('Password').errors )">
                                Password should be atleast 6 characters long.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-30">
                    <button class="btn btn-success btn-lg btn-round"><i class="icon icon-save"></i> Save</button>
                </div>


                <div [innerHtml]="FormErr"></div>

            </div>
        </form>
