<div *ngIf="IsReady">
    <div *ngIf="Users.length" class="inventory-listing">

        <ngx-datatable
                #table
                [loadingIndicator]="loadingIndicator"
                class="material bordered dt-custom-css"
                [limit]="10"
                [sortType]="'multi'"
                [rows]="Users"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [columnMode]="'force'">
            <ngx-datatable-column [sortable]="true" name="Name">
                <ng-template let-column="column" class="datatable-header" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{row['FirstName'] + ' ' + row['LastName']}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Access level">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="text-capitalize">
                        <span>{{row['AccessLevel']}}</span>
                    </div>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" name="Action">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span>{{column.name}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="btn btn-primary" href="/locations/{{LocationId}}/users/new?edit={{row['_id']}}">edit</a>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>
