<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Tags and Categories  <button  (click)="ToggleModal()" class="btn btn-primary btn-lg float-right"><i class="fa fa-plus"></i> Create New</button></h1>
            <p>Tags and categories help organise your inventory</p>
        </header>


        <div class="row">
            <div class="col-12 col-md-6">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-25"><i class="icon icon-categories"></i> Categories</h4>
                        <div class="category-listing">
                            <ul>
                                <li *ngFor="let cat of categories">{{cat.Name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-25"><i class="icon icon-tag"></i> Tags</h4>
                        <span *ngFor="let tag of tags" class="badge badge-secondary badge-pill badge-lg">{{ tag.Name }}</span>
                    </div>
                </div>
            </div>
        </div>



    </main>
</div>

<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Taxonomy</h5>
                <button type="button"  (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submit()" [formGroup]="formGroup" class="config-form">
                    <input type="hidden" formControlName="Company">
                    <div class="config-block mb-0">
                        <h6>Taxonomy Type:</h6>

                        <div class="custom-radio-block row mb-25">
                            <div class="col-6 col-sm-4">
                                <input formControlName="IsCategory" value="true" id="catTrue" type="radio">
                                <label for="catTrue">Category</label>
                            </div>
                            <div class="col-6 col-sm-4">
                                <input formControlName="IsCategory" value="false" id="catFalse" type="radio">
                                <label for="catFalse">Tag</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="input-block">
                                    <label for="Name">Name <span class="color-red">*</span></label>
                                    <input formControlName="Name" id="Name" type="text">
                                    <div class="invalid-feedback" *ngIf="(formGroup.get('Name').dirty && formGroup.get('Name').errors )">
                                        Please enter a name.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="IsParent">
                            <div class="col-12">
                                <div class="input-block">
                                    <label for="Parent">Add as sub category in <span class="color-red">*</span></label>
                                    <select class="custom-select" formControlName="Parent" id="Parent">
                                        <option value="">Select a parent category</option>
                                        <option *ngFor="let cat of categories" value="{{cat._id}}">{{ cat.Name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-lg mt-20 btn-round"><i class="icon icon-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

