<div class="modal-page {{ModalState?'d-block':''}}">
  <form (ngSubmit)="submit(true)" [formGroup]="dataForm" class="{{FormState}}" method="post" action="/">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <h3>New Customer</h3>
          </div>
          <div class="col-12 col-md-8">
            <div class="form-actions text-md-right">
              <button type="submit" class="btn btn-md btn-warning btn-round" [disabled]="dataForm.invalid">Save and Exit</button>
              <button  type="button" (click)="submit(false)" [disabled]="dataForm.invalid" class="btn btn-md btn-success btn-round">Save and Add More</button>
              <button type="button" (click)="ToggleModal()" class="btn btn-md btn-danger btn-round">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="mp-inner">
        <input type="hidden" formControlName="Company">

        <div class="row">
          <div class="col-12 col-md-8">

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="input-block">
                  <label for="Salutation">Select a Salutation</label>
                  <select class="custom-select" formControlName="Salutation" id="Salutation">
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-block">
                  <label for="MobileNumber">MobileNumber <span class="color-red">*</span></label>
                  <input formControlName="MobileNumber" id="MobileNumber" type="text">
                  <div class="invalid-feedback" *ngIf="(dataForm.get('MobileNumber').dirty && dataForm.get('MobileNumber').errors )">
                    Mobile Number is required.
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-block">
                  <label for="FirstName">FirstName</label>
                  <input formControlName="FirstName" id="FirstName" type="text">
                  <div class="invalid-feedback" *ngIf="(dataForm.get('FirstName').dirty && dataForm.get('FirstName').errors )">
                    Name is required.
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6">
                  <div class="input-block">
                    <label for="LastName">LastName</label>
                    <input formControlName="LastName" id="LastName" type="text">
                    <div class="invalid-feedback" *ngIf="(dataForm.get('LastName').dirty && dataForm.get('LastName').errors )">
                      Name already exists.
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="input-block">
                  <label for="Email">Email</label>
                  <input formControlName="Email" id="Email" type="text">
                  <div class="invalid-feedback" *ngIf="(dataForm.get('Email').dirty && dataForm.get('Email').errors )">
                    Email already exists.
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="submitResponse {{responseType}}">
    <div class="container" [innerHtml]="FormErr"></div>
  </div>

</div>
