<app-navigation></app-navigation>
<div class="app-canvas clearfix">
    <main class="page-area">
      <div class="container p-0">
        <header>
          <h1>{{company ? company['Name'] : ''}} <a *ngIf="!warehouses.length && !outlets.length" class="btn btn-primary btn-lg float-right" [routerLink]="['/locations/new']"><i class="icon icon-store"></i> Create Store</a></h1>
          <p *ngIf="!warehouses.length && !outlets.length">Create outlet or warehouse for your brand</p>
          <p *ngIf="warehouses.length && outlets.length">Your brand has {{warehouses.length}} warehouses and {{outlets.length}} outlets.</p>
        </header>


        <div>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="custom-tabs-wrap">
                <ul class="custom-tabs-nav clearfix">
                  <li class="active">
                    <a href="">Resources</a>
                  </li>
                  <li>
                    <a href="/accounts">Accounts</a>
                  </li>
                  <!--<li>
                    <a href="">Setting</a>
                  </li>-->
                </ul>

                <div  *ngIf="warehouses.length || outlets.length">
                  <div *ngIf="outlets.length">
                    <h6 class="text-uppercase">Outlets ({{outlets.length}}) <a class="text-uppercase link" [routerLink]="['/locations/new']">Create New</a></h6>

                    <ul class="items-list-group with-icons">
                      <li *ngFor="let outlet of outlets">
                        <i class="icon icon-store"></i>
                        <h5>
                          <a [routerLink]="['/locations/' + outlet._id]"><span class="align-middle cursor-pointer">{{outlet.Name}}</span></a>
                        </h5>
                        <p>{{outlet.Street}}, {{outlet.City}}</p>
                        <div class="list-item-actions">
                          <a class="btn btn-gray" [routerLink]="['/locations/' + outlet._id]">Open</a>
                          <a class="btn btn-gray" [routerLink]="['/locations/'+ outlet._id +'/edit']">Edit</a>
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div *ngIf="warehouses.length" class="mt-30">
                    <h6 class="text-uppercase">Warehouses ({{warehouses.length}}) <a class="text-uppercase link" [routerLink]="['/locations/new']">Create New</a></h6>

                    <ul class="items-list-group with-icons">
                      <li *ngFor="let warehouse of warehouses">
                        <i class="icon icon-warehouse"></i>
                        <h5>
                          <a [routerLink]="['/locations/' + warehouse._id]"><span class="align-middle cursor-pointer">{{warehouse.Name}}</span></a>
                        </h5>
                        <p>{{warehouse.Street}}, {{warehouse.City}}</p>
                        <div class="list-item-actions">
                          <a class="btn btn-gray" [routerLink]="['/locations/' + warehouse._id]">Open</a>
                          <a class="btn btn-gray" [routerLink]="['/locations/'+ warehouse._id +'/edit']">Edit</a>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
                <div *ngIf="!warehouses.length && !outlets.length" class="card">
                  <div class="card-body">
                    <div class="empty_state text-center">
                      <div>You have no outlets or warehouses to show. Please create a new location.</div>
                      <br>
                      <a class="btn btn-success" [routerLink]="['/locations/new']">Create New</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
</div>


