<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()">
        <i class="fa fa-close"></i>
    </button>
    <div class="modal-dialog" role="document">
        <form (ngSubmit)="submit()" [formGroup]="form">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Audit Product</h5>
                <button type="button" (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="border-0">Product Stock</th>
                        <th class="border-0">New Product Stock</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-middle" *ngIf="product && product['Attribute'] && product['Attribute']['Stock']">
                            {{product['Attribute']['Stock']}}
                        </td>
                        <td class="align-middle">
                            <input type="number" formControlName="newProductQuantity">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                <div style="width: 100%;">

                    <div class="clearfix">
                        <button  [disabled]="!form.valid" class="btn btn-danger btn-block btn-lg" type="submit">Audit
                            Product
                        </button>
                    </div>
                </div>
            </div>


        </div>
        </form>
    </div>
</div>
