<div class="modal fade show {{ModalState?'d-block':''}}" style="display: none" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <button class="closeModal btn-cover-modal" (click)="ToggleModal()"><i class="fa fa-close"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                <button type="button"  (click)="ToggleModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submit()" [formGroup]="dataForm" class="{{FormState}}" method="post" action="/">
                    <input type="hidden" formControlName="Company">
                    <input type="hidden" formControlName="Store">
                    <input type="hidden" formControlName="User">
                    <input type="hidden" formControlName="TransactionDate">

                    <div class="row">
                        <div class="col-12">

                            <div class="input-block">
                                <label for="Title">Title <span class="color-red">*</span></label>
                                <input formControlName="Title" id="Title" type="text">
                                <div class="invalid-feedback" *ngIf="(dataForm.get('Title').dirty && dataForm.get('Title').errors )">
                                    Title is required.
                                </div>
                            </div>
                            <div class="input-block">
                                <label for="Title">Expense category <span class="color-red">*</span></label>
                                <select class="custom-select" formControlName="ExpenseType">
                                    <option [value]="cat._id" *ngFor="let cat of expenseCategories">{{cat.Name}}</option>
                                </select>
                                <!--<option class="salary">Employee salary</option>--><!--todo:salary-->
                                <div class="invalid-feedback" *ngIf="(dataForm.get('ExpenseType').dirty && dataForm.get('ExpenseType').errors )">
                                    Please select a category
                                </div>
                            </div>


                            <div class="input-block">
                                <label for="Account">Money taken from account
                                    <span class="color-red">*</span>
                                </label>
                                <select class="custom-select" id="Account" formControlName="PaidFrom">

                                    <option *ngFor="let account of accounts" [value]="account._id">{{account.Title}}
                                        {{account.Balance}}
                                    </option>
                                </select>

                                <div class="invalid-feedback"
                                     *ngIf="(dataForm.get('PaidFrom').dirty && dataForm.get('PaidFrom').errors )">
                                    Please select a Account
                                </div>
                            </div>


                            <div class="input-block">
                                    <label for="Amount">Amount <span class="color-red">*</span></label>
                                    <input formControlName="Amount" id="Amount" type="number">
                            </div>

                          <div class="input-block">
                                    <label for="Date">Date <span class="color-red">*</span></label>
                                    <input formControlName="Date" id="Date" type="date">
                            </div>



                        </div>

                    </div>

                    <div class="pt-30">
                        <button class="btn btn-success btn-lg btn-round"><i class="icon icon-save"></i> Save</button>
                    </div>

                    <div [innerHtml]="FormErr"></div>

                </form>

            </div>
        </div>
    </div>
</div>

