.activity-list{
  position: relative;
  margin: 0;
  padding: 0;
  li{
    display: block;
    position: relative;
    font-weight: 500;
    padding: 10px 150px 10px 10px;
    &:nth-child(even){
      background: rgba($border-color,0.5);
    }
    &.list-header{
      border-bottom: 1px solid $border-color;
      @include font-size(1.2);
    }
    .actions{
      width: 165px;
      position: absolute;
      right: 0;
      top: 7px;
      button{
        display: block;
        width: 100%;
      }
      padding-right: 5px;
      &.three-actions{
        padding-left: 3px;
        padding-right: 3px;
        > div{
          float: left;
          width: 33.333334%;
          padding: 0 2px;
        }
      }
    }
  }
}