.col-card-wrap{
  margin: 0 0 30px;
  @media (min-width:1400px) {
    max-width: 25%;
  }
}

.product-card.focused{
  .card{
    border:2px dashed $green;
    -webkit-box-shadow: 0 2px 34.4px 8.6px rgba($green, 0.1); -moz-box-shadow: 0 2px 34.4px 8.6px rgba($green, 0.1); box-shadow: 0 2px 34.4px 8.6px rgba($green, 0.1);
  }
}
.card{
  border-radius: 4px;
  padding: 0;
  height: 100%;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 2px 4px 1px rgba(0, 0, 0, 0.1);
  .card-body{
    outline: none !important;
    padding: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    .empty_state{
      padding: 15px;
    }
    .card-link{
      color: $tc_secondary;
      text-decoration: none;
      font-weight: 500;
      @include font-size(1.4);
      text-transform: uppercase;

    }
    strong{
      color: $tc_primary;
      .icon{
        margin-right: 10px;
      }
    }
    h3,.vertical-title{
      height: 65px;
      display: flex;
      overflow: hidden;
      align-items: center;
      span{
        display: inline-block;
        text-align: left;
        max-height: 45px;
        overflow: hidden;
      }
    }
  }
  &.create-new{
    background: $green;
    border: none;
    color: #fff;
    padding: 0;
    min-height: 175px;
    .card-body{
      display: flex;
      align-items: center;
      justify-content: center;
      @include font-size(2.6);
      text-decoration: none;
      @media (min-width:1600px) {
        @include font-size(3);
      }
      .icon,.fa{
        margin-right: 10px;
      }
      strong{
        font-size: 70%;
        color: #fff;
      }
      &:hover{
        color: #fff;
      }
    }
  }
  background: rgba(#fff,0.6);
}
