.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell{
  white-space: normal !important;
}
.datatable-body-row{
  img,svg{
    max-width: 100% !important;
  }
}
.dt-custom-css{
  font-weight: 500;
  .badge{
    padding: 5px 12px;
    @include font-size(1.4);
    margin: 2px;
  }
  @include font-size(1.4);
  .datatable-header-cell{
    > div{
      padding: 8px 0;
    }
  }
}
/*old datatables*/

.listing-card{
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .03);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .03);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .03);
  border: 1px solid $border_color;
  background: rgba(#fff,0.6);
  padding: 50px 30px;
}

.ngx-datatable.material{
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .03) !important;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .03) !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .03) !important;
  border: 1px solid $border_color;
}


.dataTables_wrapper{
  clear: none !important;
  table.dataTable{
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
  }
  input{
    background: rgba(#fff,0.5) !important;
  }
  select{
    background-color: rgba(#fff,0.5) !important;
    display: inline-block;
    max-width: 100%;
    height: $input-height;
    padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
    line-height: $custom-select-line-height;
    color: $custom-select-color;
    vertical-align: middle;
    background: $custom-select-bg $custom-select-indicator no-repeat right $custom-select-padding-x center;
    background-size: $custom-select-bg-size;
    border: 2px solid $border_color;
    border-radius: 80px;
    appearance: none;
    &:focus {
      border-color: $custom-select-focus-border-color;
      outline: none;
      &::-ms-value {
        // For visual consistency with other platforms/browsers,
        // supress the default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: $input-bg;
      }
    }

    &[multiple] {
      height: auto;
      background-image: none;
    }

    &:disabled {
      color: $custom-select-disabled-color;
      background-color: $custom-select-disabled-bg;
    }
    // Hides the default caret in IE11
    &::-ms-expand {
      opacity: 0;
    }
  }
}
.progress-linear{
  .container{
    max-width: 100%;
    width: 100%;
  }
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  font-weight: 500;
}
.datatable-row-odd{
  background: #fafafa;
}
table.dataTable{
  background: none;
  border: 1px solid $border_color;
  &.no-footer{
    border-bottom-color: $border_color !important;
  }
  .tags-listing{
    max-width: 100px;
    span{
      &.badge{
        background: #D2D7D3;
        padding: 5px;
      }
      @include font-size(1.4);
      margin-right: 2px;
      margin-bottom: 2px;
    }
  }
  &.big{
    td,th{
      @include font-size(1.6);
    }
  }
  td,th{
    @include font-size(1.4);
  }
  tbody tr{
    background: none !important;
    font-weight: 500;
  }
  thead th, table.dataTable thead td{
    border: none;
    padding: 10px;
    font-weight: 700;
    border-color: $border_color !important;
    @include font-size(1.3);
  }
  &.big{
    thead th, table.dataTable thead td{
      @include font-size(1.4);
    }
  }
}

