.input-block{
  margin-bottom: 30px;
  label{
    display: inline-block;
    margin-bottom: 20px;
  }
  .invalid-feedback{
    display: block;
  }
}
.custom-select{
  display: block;
  height: 45px;
  width: 100%;
  border-radius: 35px;
  border: 2px solid $border_color;
  background-color: rgba(#fff,0.5);
  font-weight: 500;
  option{
    @include font-size(1.6);
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
  }
  &:focus{
    border-color: $custom-select-focus-border-color;
  }
}
.invalid-feedback{
  @include font-size(1.2);
  font-weight: 500;
}

label{
  @include font-size(1.6);
}
input[type="text"],input[type="number"],input[type="search"],input[type="tel"],input[type="email"],input[type="url"],input[type="password"],input[type="date"]{
  height: 45px;
  width: 100%;
  border-radius: 35px;
  border: 2px solid $border_color;
  padding: 0 15px;
  background: rgba(#fff,0.5);
  font-weight: 500;
  &:focus{
    border-color: $custom-select-focus-border-color;
  }
}
textarea{
  width: 100%;
  border: 2px solid $border_color;
  padding: 15px;
  background: rgba(#fff,0.5);
  font-weight: 500;
  &:focus{
    border-color: $custom-select-focus-border-color;
  }
}
input[type="number"]{
  padding-right: 10px;
}

.dataTables_wrapper{
  input[type="text"],input[type="search"],input[type="tel"],input[type="email"],input[type="url"],input[type="password"],input[type="date"] {
    width: auto;
  }
}

.color-red,.invalid-feedback{
  color: $red;
}

.invalid-feedback{
  display: block;
}
.custom-radio{
  margin-bottom: 45px;
  > div{
    margin-bottom: 15px;
  }
  &.style2{
    > span{
      margin-right: 10px;
    }
    >
    span{
      label{
        line-height: 30px;
        padding: 0 15px;
        margin-right: 5px;
        @include font-size(1.6);
      }
    }
    input:checked + label{
      background: $blue;
    }
  }
  > span{
    font-weight: 700;
    margin-right: 20px;
    &:first-child{
      margin-right: 40px;
    }
  }
  input{
    display: none;
  }
  span{
    label{
      cursor: pointer;
      display: inline-block;
      line-height: 45px;
      border-radius: 35px;
      border: 2px solid $border_color;
      padding: 0 25px;
      font-weight: 500;
      background: rgba(#fff,0.4);
    }
  }
  input:checked + label{
    background: $blue;
    color: #fff;
  }
}

.btn{
  font-weight: 700;
  @include font-size(1.4);
  .icon,.fa {
    margin-right: 10px;
  }
  &.btn-gray{
    background: $bg;
  }
  &.btn-round{
    border-radius: 100px;
  }
  &.btn-lg{
    padding: 10px 25px;
  }
  &.btn-md{
    padding: 6px 20px;
    &.dropdown-toggle-split{
      padding: 8px 15px;
    }
  }
}


.input-group{
  .input-group-addon{
    border-radius: 100px 0 0 100px;
    font-weight: 500;
    @include font-size(1.4);
    .fa,.icon{
      margin-right: 5px;
    }
  }
}
.dropdown-toggle-split{
  border-left:2px solid rgba(#000,0.1);
}
button{
  .fa-spin{
    display: none;
  }
}
.loading{
  button{
    .fa-spin{
      display: inline-block;
    }
  }
}
.remove-btn{
  background: none;
  color: #fff;
  cursor: pointer;
  border: none;
}
.badge{
  input{
    height: auto;
    width: auto;
    display: inline;
    padding: 0;
    min-width: 0;
    background: none;
    border: none;
    color: inherit;
  }
  .remove-btn{
    padding: 2px 2px 2px 15px;
  }
}

.input-file-wrap{
  border: 4px dashed $border_color;
  border-radius: 10px;
  position: relative;
  padding: 50px 20px;
  text-align: center;
  margin: 20px;
  input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    opacity: 0;
  }
}
.excelImport{
  .big-progressbar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $blue;
    border-radius: 10px;
    width: 0;
    -webkit-transition:  all 0.2s ease-in; -moz-transition:  all 0.2s ease-in; -ms-transition:  all 0.2s ease-in; -o-transition:  all 0.2s ease-in; transition:  all 0.2s ease-in;
    .loader{
      text-align: right;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
      @include font-size(4);
      font-weight: 700;
      color: #fff;
      display: none;
    }
  }
  &.loading{
    .loader{
      display: block;
    }
    .input-file-wrap{
      input,h6{
        display: none;
      }
    }
  }
}
button.disabled{
  pointer-events: none;
}
.btn{
  .fa-spin{
    display: none;
  }
  &.btn-filter{
    background: #fff;
    border: 1px solid $border-color;
    margin: 2px 4px;
    padding: 5px 10px;
    &.active,&:hover{
      background: $blue;
      color: #fff;
    }
  }
}
.loading{
  button{
    pointer-events: none !important;
    .fa-span{
      display: inline-block !important;
    }
  }
}

.custom-radio-wrap{
  background: #e0e0e0;
  margin-bottom: 10px;
  input[type='number']{
    border-radius: 0 !important;
  }
  .custom-radio{
    max-width: 160px;
    label,span{
      line-height: normal !important;
    }
  }
}
.custom-radio-wrap-2{
  input{
    margin-top: 5px;
    margin-right: 10px;
  }
}

.btn-icon{
  @include font-size(2.6);
  padding: 0;
  border: 0;
  background: none;
  color: rgba(#000,0.4);
  &.delete{
    &:hover{
      color: $red;
    }
  }
  &:hover{
    color: $green;
  }
}

.input-with-drop{
  position: relative;
  input{
    display: inline-block;
    padding-right: 50px !important;
    text-align: left;
    padding-left: 10px !important;
  }
  input + select{
   position: absolute;
    right: 2px;
    background: $border_color;
    top: 2px;
    bottom: 2px;
    font-weight: bold;
    @include font-size(1.4);
    border-radius: 0 35px 35px 0;
    border: none !important;
  }
}
