html{
  font-size: 62.5%;
}
html,body{
  //background: $bg;
  background: #fff;
}

body{
  font-family: $font_default;
  @include font-size(1.6);
  color: $tc_secondary;
  &.overflow-hidden{
    overflow: hidden;
  }
}

.web-app{
  overflow: hidden;
}
button{
  cursor: pointer;
}
img{
  max-width: 100%;
}
a{
  outline: none !important;
  cursor: pointer;
  color: inherit;
}
.cursor-pointer{
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  color: $tc_primary;
  margin: 15px 0;
}
label{
  font-weight: 700;
}

h1{
  @include font-size(2.4);
}
h2{
  @include font-size(2.2);
}
h3{
  @include font-size(1.9);
}
h4{
  @include font-size(1.7);
}
h5{
  @include font-size(1.6);
}
h6{
  @include font-size(1.4);
}

.bg-success{
  color: #fff;
  background: $green !important;
}
.bg-default{
  background: $bg !important;
}

.pt-50{
  padding-top: 50px !important;
}
.pt-30{
  padding-top: 30px !important;
}
.pb-50{
  padding-bottom: 50px !important;
}
.mb-25{
  margin-bottom:25px !important;
}
.badge-lg{
  padding: 10px 20px;
  margin: 5px;
}
.empty_state{
  padding: 80px 0;
  img{
    max-width: 200px;
    margin-bottom: 30px;
  }
  font-weight: bold;
  @include font-size(1.6);
}
.badge-default{
  background: $blue;
  color: #fff;
}
.mt-15{
  margin-top: 15px !important;
}
.mt-30{
  margin-top: 30px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.mb-34{
  margin-bottom: 34px !important;
}
a.link{
  color: $blue !important;
  text-decoration: underline !important;
  &.small-link{
    font-size: 12px;
    font-weight: 500;
  }
}
.container{
  max-width: 1800px;
}
