.doc-header{
  /*border-bottom: 4px solid $border_color;*/
  padding: 10px 50px;
  background: #fff;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 2px 5px 1px rgba(0, 0, 0, 0.1);
  .app-logo{
    margin-right: 20px;
    float: left;
    margin-top: 5px;
    outline: none !important;
    img{
      max-width: 120px;
      max-height: 50px;
    }
  }
  .dh-inner{
    margin-left: 150px;
    padding-top: 6px;
    > .btn{
      margin-left: 10px;
    }
  }
  .btn-group{
    small{
      color: $tc_secondary;
      @include font-size(1.2);
      font-weight: 500;
    }
  }
  .btn{
    &.btn-default{
      background: none;
    }
    @include font-size(1.4);
  }
  .main-nav{
    float: left;
    ul{
      margin: 0;
      padding: 0;
    }
    .btn{
      @include font-size(1.4);
      font-weight: bold;
      outline: none !important;
    }
    .nav-links {
      margin-left: 25px;
      padding-top: 5px;
      & > ul{
        font-weight: 700;
        @include font-size(1.4);
        @include letter-spacing-ps(100);
        > li{
          display: inline-block;
          margin-left: 5px;
          &.active{
            > a{
              color: $blue;
            }
          }
          > a{
            text-decoration: none;
            padding: 0 5px;
            &:hover,&.active{
              color: $blue;
              border-bottom: 2px solid $blue;
            }
          }
          .icon{
            @include font-size(2.2);
            width: 40px;
            display: inline-block;
          }
        }
      }
    }
    .locationSelector,.nav-links{
      float: left;
    }
  }
  .account-actions{
    float: right;
    margin-left: 15px;
  }
}
