@font-face {
  font-family: 'sh-icons';
  src:  url('#{$fonts}/sh-icons.eot?14umf8');
  src:  url('#{$fonts}/sh-icons.eot?14umf8#iefix') format('embedded-opentype'),
  url('#{$fonts}/sh-icons.ttf?14umf8') format('truetype'),
  url('#{$fonts}/sh-icons.woff?14umf8') format('woff'),
  url('#{$fonts}/sh-icons.svg?14umf8#sh-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sh-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-caret-down:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-categories:before {
  content: "\e904";
}
.icon-chart:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-check-filled:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-coins:before {
  content: "\e909";
}
.icon-credit-card:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-edit-filled:before {
  content: "\e90c";
}
.icon-filter:before {
  content: "\e90d";
}
.icon-gift:before {
  content: "\e90e";
}
.icon-group:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-id-card:before {
  content: "\e911";
}
.icon-inbound:before {
  content: "\e912";
}
.icon-invoice:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e914";
}
.icon-map-marker:before {
  content: "\e915";
}
.icon-money:before {
  content: "\e916";
}
.icon-outbound:before {
  content: "\e917";
}
.icon-pan:before {
  content: "\e918";
}
.icon-plus-filled:before {
  content: "\e919";
}
.icon-power:before {
  content: "\e91a";
}
.icon-printer:before {
  content: "\e91b";
}
.icon-remove:before {
  content: "\e91c";
}
.icon-save:before {
  content: "\e91d";
}
.icon-scooter:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e91f";
}
.icon-share:before {
  content: "\e920";
}
.icon-shopping-cart:before {
  content: "\e921";
}
.icon-store:before {
  content: "\e922";
}
.icon-tag:before {
  content: "\e923";
}
.icon-telephone:before {
  content: "\e924";
}
.icon-trash:before {
  content: "\e925";
}
.icon-trash-filled:before {
  content: "\e926";
}
.icon-truck:before {
  content: "\e927";
}
.icon-user:before {
  content: "\e928";
}
.icon-view:before {
  content: "\e929";
}
.icon-warehouse:before {
  content: "\e92a";
}
.icon-warning:before {
  content: "\e92b";
}
.icon-warning-filled:before {
  content: "\e92c";
}
.icon-wifi:before {
  content: "\e92d";
}
