.items-list-group{
  position: relative;
  &.with-icons{
    li{
      padding-left: 60px;
      & > .icon,& > .fa{
        @include font-size(1.8);
        position: absolute;
        left: 15px;
        top: 20px;
      }
    }
  }
  li{
    min-height: 51px;
    padding: 15px 200px 15px 15px;
    display: block;
    width: 100%;
    list-style: none;
    box-shadow: 1px 2px 4px rgba(0,0,0,.03);
    background-color: #fff;
    text-align: left;
    border: 1px solid #ececec;
    position: relative;
    margin-top: -.1rem;
    &:first-of-type{
      border-radius: 3px 3px 0 0;
      margin-top: 0;
    }
    &:last-of-type{
      border-radius: 0 0 3px 3px;
    }
    &:hover{
      transition: all .2s ease-in-out;
      box-shadow: 1px 2px 10px rgba(0,0,0,.1);
      z-index: 2;
    }
    h2,h3,h4,h5,h6{
      margin: 0;
      @include font-size(1.6);
      a{
        text-decoration: none;
        color: $blue;
      }
    }
    .list-item-actions{
      text-align: right;
      position: absolute;
      top: 20px;
      right: 15px;
      width: 185px;
      &.account-balance{
        strong{
          display: inline-block;
          text-align: center;
        }
        span{
          @include font-size(1);
          display: block;
        }
      }
    }
    p{
      margin: 0;
      font-weight: 500;
      @include font-size(1.4);
    }
  }
  margin: 0;
  padding: 0;
  & + .items-list-group{
    margin-top: 30px;
  }
}

a.small-link{
  text-decoration: underline !important;
  font-size: 80%;
  display: inline-block;
  padding-left: 15px;
}
