.modal{
  background: rgba(#000,0.8);
  overflow-y: auto;
  .btn-cover-modal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: default;
    display: block;
    text-indent: -999999px;
    overflow: hidden;
  }
  .modal-header{
    background: #fafafa;
  }
  .input-block{
    margin-bottom: 10px;
    label{
      font-size: 12px;
      margin-bottom: 10px;
    }
    input{
      height: 35px;
      @include font-size(1.4);
    }
  }
}
.d-hide{
  display: none;
}