.modal-page{
  .submitResponse{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    @include font-size(1.6);
    text-align: center;
    &.success{
      background: $green;
      color: #fff;
    }
  }
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 999999;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px 0;
    background: $bg;
    z-index: 9999;
    margin-bottom: 30px;
    h1,h2,h3,h4{
      margin: 0;
    }
    -moz-box-shadow: 0 5px 5px rgba(#000,0.1);
    -webkit-box-shadow: 0 5px 5px rgba(#000,0.1);
    box-shadow: 0 5px 5px rgba(#000,0.1);
  }
  hr{
    margin: 30px 0;
  }
  .input-block{
    margin-bottom: 15px;
    label{
      @include font-size(1.4);
      margin-bottom: 10px;
    }
    input{
      height: 40px;
      @include font-size(1.4);
    }
  }
}

.submitResponse{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  @include font-size(1.6);
  text-align: center;
  &.success{
    background: $green;
    color: #fff;
  }
}

.badge-chips{
  position: relative;
  padding-right: 40px;
  overflow: hidden;
  @include font-size(1.2);
  color: #fff;
  button{
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    border: none;
    border-left: 1px solid rgba(#fff,0.4);
    @include font-size(1.3);
    text-align: center;
    color: #fff;
    padding: 0;
  }
}
.subItemsWrap{
  background: $bg;
  padding: 30px;
  margin: 30px 0;
  & + hr{
    display: none;
  }
}
.subItems-table{
  @include font-size(1.4);
  button{
    width: 40px;
    border: none;
    background: none;
    height: 40px;
    padding: 0;
    @include font-size(2.4);
    color: $red;
    .icon{
      margin: 0;
    }
  }
  td,th{
    border: none;
    vertical-align: middle;
    &.basic-col,&.action-col{
      text-align: center;
    }
  }
  th:nth-child(2),td:nth-child(2){
    max-width: 100px;
  }
  th:first-child,td:first-child{
    min-width: 45%;
    font-weight: 500;
  }
  th,th:first-child{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid $border-color;
  }
}
.custom-tag-selector{
  margin-bottom: 15px;
  position: relative;
  .custom-dropdown{
    position: relative;
    input{
      position: relative;
    }
    .search-results{
      z-index: 20;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 150px;
      overflow-y: auto;
      background: #fafafa;
      -moz-box-shadow: 0 5px 5px rgba(#000,0.2);
      -webkit-box-shadow: 0 5px 5px rgba(#000,0.2);
      box-shadow: 0 5px 5px rgba(#000,0.2);
      button{
        background: none;
        display: block;
        border: none;
        text-align: left;
        width: 100%;
        &:hover{
          background: $bg;
        }
        @include font-size(1.4);
        padding: 8px 10px;
        text-transform: capitalize;
        font-weight: 500;
        & +  button{
          border-top: 1px solid $border_color;
        }
      }
    }
  }
}

.ngx-datatable.material{
  -moz-box-shadow: 0 4px 4px rgba(#000,0.1);
  -webkit-box-shadow: 0 4px 4px rgba(#000,0.1);
  box-shadow: 0 4px 4px rgba(#000,0.1);
  background: rgba(#fff,0.8);
  .datatable-header-cell,.datatable-header-cell span{
    color: $blue;
  }
}
