.secondary-nav{
  padding: 50px 0 50px 50px;
  position: relative;
  top: 50px;
  bottom: 0;
  overflow-y: auto;
  @include font-size(1.4);
  ul{
    margin: 0;
    padding: 0;
    font-weight: 700;
    @include letter-spacing-ps(100);
  }
  > ul{
    > li{
      display: inline-block;
      & + li{
        margin-left: 5px;
      }
      &.active{
        > a{
          color: $tc_primary;
        }
      }
      > a{
        text-decoration: none;
        &:hover,&.active{
          color: $tc_primary;
        }
      }
      .icon{
        @include font-size(2.2);
        width: 40px;
        display: inline-block;
      }
    }
  }
}
