.product-images, .images-wrapper{
  .product-image{
    margin: 5px;
    float: left;
    padding: 5px;
    border: 1px solid $border-color;
    & > div{
      height: 100px;
      width: 100px;
      overflow: hidden;
      position: relative;
      i.fa{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 999;
      }
      &.loader{
        position: relative;
        &:after{
          position: absolute;
          left: 0;
          top:0;
          content: '';
          height: 100%;
          width: 100%;
          background: rgba(255,255,255,0.6);
        }
      }
    }
    .remove-image{
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      width: 25px;
      height: 25px;
      background: $red;
      color: white;
      border: 0;
    }
    img{
      width: 100%;
    }
  }
  .logo-image{
    margin: 5px;
    float: left;
    padding: 5px;
    border: 1px solid $border-color;
    & > div{
      max-height: 800px;
      max-width: 800px;
      overflow: hidden;
      position: relative;
      i.fa{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 999;
      }
      &.loader{
        position: relative;
        &:after{
          position: absolute;
          left: 0;
          top:0;
          content: '';
          height: 100%;
          width: 100%;
          background: rgba(255,255,255,0.6);
        }
      }
    }
    .remove-image{
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      width: 25px;
      height: 25px;
      background: $red;
      color: white;
      border: 0;
    }
    img{
      width: 100%;
    }
  }
}
