.off-canvas{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(#000,0.6);
  -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -ms-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease;
  &.active{
    z-index: 999999;
    opacity: 1;
    visibility: visible;
    .off-canvas-menu{
      right: 0;
    }
    .close-off-canvas{
      cursor: url('#{$imgs}/close.png'), auto;
    }
  }
  .close-off-canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
  }
  .off-canvas-menu{
    .nav-header{
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      background: rgba($border-color,0.2);
      text-align: right;
      button{
        display: inline-block;
        border: none;
        width: 50px;
        height: 50px;
        @include font-size(2);
        padding: 0;
        text-align: center;
        background: none;
        & + button{
          border-left: 1px solid $border-color;
        }
      }
    }
    z-index: 50;
    -webkit-transition:  all 0.2s ease-in; -moz-transition:  all 0.2s ease-in; -ms-transition:  all 0.2s ease-in; -o-transition:  all 0.2s ease-in; transition:  all 0.2s ease-in;
    background: #fff;
    position: absolute;
    top: 0;
    right: -450px;
    height: 100%;
    width: 400px;
    overflow-y: auto;
    -webkit-box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1);
    padding: 25px 40px;
    nav{
      font-weight: 500;
      @include font-size(1.6);
      h5 + ul{
        border-bottom: 1px solid $border-color;
        padding: 0 0 20px;
      }
      .fa, .icon{
        display: inline-block;
        width: 25px;
      }
      ul{
        padding: 0;
        margin: 0 0 20px;
        li{
          display: block;
          a{
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            &:hover{
              color: $blue;
            }
          }
          & + li{
            margin-top: 10px;
          }
        }
      }
    }
  }
}