.page-area{
  //margin-left: 300px;
  padding: 100px 50px;
  &.wide{
    margin-left: 0;
    padding: 0;
  }
  header{
    h1,h2,h3,h4,h5,h6{
      margin: 0;
      .small{
        text-decoration: none;
        @include font-size(1.8);
        color: $tc_secondary;
        font-weight: 500;
      }
    }
    font-weight: 500;
    padding-bottom: 30px;
    & + p {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}
.dropdown-menu{
  border-radius: 4px;
  .dropdown-group{
    .dropdown-item{
      padding-left: 40px;
    }
    .icon{
      width: auto;
      margin-right: 5px;
    }
  }
  .icon{
    width: 30px;
    display: inline-block;
  }
  .dropdown-item{
    display: block;
    font-weight: 500;
    @include font-size(1.4);
    padding: 5px 20px;
  }
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 34.4px 8.6px rgba(0, 0, 0, 0.1);
}

.height-100{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .centered-form{
    max-width: 400px;
    width: 90%;
    .app-logo{
      margin: 30px auto;
      max-width: 150px;
    }
  }
}

.report-tabs.nav-tabs{
  .nav-link, .nav-item .nav-link{
    font-weight: bold;
    border: none;
  }
  .nav-link.active, .nav-item.show .nav-link{
    background: rgba(#fff,0.6);
    border-color: #dee2e6 #dee2e6 rgba(#fff,0.6);
  }
}
.report-panels{
  background: #fafafa;
  padding: 50px 30px;
  border: 1px solid #dee2e6;
  border-top: none;
}


.delete-field-btn{
  margin-top: 31px;
  .btn{
    height:40px;
    width: 40px;
    .fa{
      margin-right:1px;
    }
  }
}

.form-btns{
  margin-top:10px;
}