.receipt-generator{
  position: relative;
  height: 100vh;

  .items-listing{
    margin-right: 480px;
    height: 100%;
    @media (min-width:1400px) {
      margin-right: 500px;
    }

    .product-card{
      margin-top: 15px;
      position: relative;
      margin-bottom: 15px;
      .tags{
        @include font-size(1.2);
        font-weight: 600;
        padding-left: 20px;
        position: relative;
        display: block;
        .icon{
          position: absolute;
          left: 0;
          top: 1px;
        }
      }
      .vertical-title{
        height: auto;
        margin: 0;
      }
      .add-to-cart{
        border: none;
        background: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        position: absolute;
        display: block;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
  }
  .cart-status{
    height: 100%;
    float: right;
    width: 480px;
    background: #f4f4f4;
    border-left: 2px solid $border_color;
    @media (min-width:1400px) {
      width: 500px;
    }
    ul{
      padding-left: 20px;
    }
  }
  .overflow-y-auto{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    .empty-cart-wrap{
      text-align: center;
      span{
        display: block;
        margin-top: 10px;
        font-weight:bold;
        font-size: 14px;
      }
      img{
        max-width: 100px;
        max-height: 100%;
        width: auto;
        height: auto;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
    }
    .overflow-scroll{
      padding: 120px 15px;
    }
  }
}
.receipt-header{
  padding: 10px 15px;
  background: #fff;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1);
  .search-wrap{
    width: 500px;
    float: left;
    margin-top: 5px;
    input{
      background: $bg;
    }
  }
  .network-status{
    margin-left: -15px;
    margin-right: -15px;
  }
}
.receipt-footer{
  padding: 10px 175px 10px 50px;
  background: #fff;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 20.4px 4.6px rgba(0, 0, 0, 0.1);
  @media (max-width:1300px) {
    padding: 10px 175px 10px 30px;
  }
  @media (max-width:1199px) {
    padding-right: 120px;
  }

  .rf-inner{
    .btn.process-cart{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 160px;
      @media (max-width:1199px) {
        width: 110px;
      }
    }

  }
}
.receipt-quick-view{
  float: right;
  .label-card{
    padding: 5px 15px;
    display: inline-block;
    font-weight: bold;
    @include font-size(1.2);
    strong{
      @include font-size(2);
    }
  }
}
.receipt-footer,.receipt-generator{
  .input-block{
    float: left;
    margin: 0 0 0 20px;
    width: 100px;
    @media (max-width:1199px) {
      width: 80px;
    }
    label{
      margin-bottom: 5px;
      @include font-size(1.4);
      @media (max-width:1199px) {
        @include font-size(1.2);

      }

    }
    input[type="text"], input[type="number"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="password"], input[type="date"]{
      height: 40px;
      background: #f5f5f5;
      text-align: center;
      @include font-size(1.4);
      @media (max-width:1199px) {
        @include font-size(1.3);
        padding: 0 5px;
      }
      &.ng-invalid{
        border-color: $red !important;
      }
    }
    select.custom-select{
      height: 40px;
      background-color: #f5f5f5;
      &.ng-invalid{
        border-color: $red !important;
      }
    }

    small{
      @include font-size(1.1);
    }
    &.outsider{
      margin-left: 0;
      margin-right: 20px;
      @media (max-width:940px) {
        display: none;
      }

    }
    &.md{
      width: 150px;
      @media (max-width:1024px) {
        width: 135px;
      }
    }
    &.sm{
      width: 80px;
      @media (max-width:1024px) {
        width: 70px;
      }
    }
    &.lg{
      width: 200px;
      @media (max-width:1024px) {
        width: 150px;
      }
    }
  }
  table{
    input[type='number']{
      padding-left: 5px !important;
      padding-right: 10px !important;
    }
  }
}

.cash-register-panel{
  background: #222;
  color: rgba(#fff,0.6);
  font-weight: 500;
  @include font-size(1.2);
  padding: 5px 15px;
  margin: -10px -15px 10px;
}

.cart-table{
  input[type='number']{
    max-width: 100px;
    text-align: center;
  }
  th{
    color: #000;
    font-weight: 700;
    @include font-size(1.5);
    vertical-align: middle;
  }
  td{
    border:none !important;
    vertical-align: middle;
    @include font-size(1.3);
    font-weight: 500;
  }
}

.connect-drawer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(#000,0.6);
  .connect-drawer-inner{
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 4px;
    header{
      border-radius: 4px 4px 0 0;
      padding: 5px 15px;
      background: #dee2e6;
      border-bottom: 1px solid $border_color_sec;
    }
    .connect-drawer-canvas{
      padding: 30px 15px;
    }
  }
}
