.print-sheet {
  margin: 0;
  width: 80mm;
  max-width: 80mm;
  padding: 0;
  font-size: 10pt;
  .barcode img,.barcode svg { max-width: 100% }
  &.mm55 {
    width: 55mm;
    max-width: 55mm;
    .barcode img,.barcode svg { max-width: 50mm }
  }
  ul{
    padding-left: 10px;
    li{
      font-size: inherit;
    }
  }
  h1 { font-size: 14pt; margin: 0 }
  h2 { font-size: 10pt; margin: 0 0 10pt }
  li { font-size: 11pt; line-height: 5mm }
  .return_policy{
    text-align: center;
    padding: 8pt;
    font-size: 10pt;
  }
  .brand-canvas { padding: 4mm; border-bottom: 2pt solid #000 }
  .receipt-table { width: 100%; font-size: 10pt; }
  .receipt-table th { padding: 10pt; margin: 0; border-bottom: 1pt solid #212121 }
  .receipt-table td { border-bottom: 1px dashed #212121; font-size: 10pt; padding: 8px }
  .table-totals { margin-bottom: 20pt; width: 100%; border-top: 2pt solid #212121 }
  .table-totals tr:first-child td, .table-totals tr:first-child th { padding-top: 20pt }
  .table-totals td, .table-totals th { padding: 2pt 20pt }
  .barcode { text-align: center }
}
@media screen {
  .printable-canvas { display: none;}
  .non-printable { display: block;}
}
@page {
  margin: 0;
}
@media print {
  margin: 0;
  padding: 0;
  width: 80mm;
  body{
    padding: 0;
    margin: 0;
  }
  .non-printable { display: none;}
  .printable-canvas { display: block;}
}
