.custom-tabs-wrap{
  position: relative;
  margin-bottom: 30px;
  .custom-tabs-nav{
    border-bottom: 2px solid $border_color_sec;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 30px;
    li{
      display: block;
      float: left;
      margin-bottom: -2px;
      & + li{
        margin-left: 20px;
      }
      a{
        display: block;
        color: $tc_secondary;
        text-decoration: none;
        padding: 0 2px 20px;
        &.active{
          color: $blue;
          border-bottom: 2px solid $blue;
        }
      }
      &.active{
        a{
          color: $blue;
          border-bottom: 2px solid $blue;
        }
      }
    }
  }
}
