$tc_primary : #444;
$tc_secondary : #686d71;

$green: #37c977;
$red : #EB6361;
$blue: #0069ff;

$bg: #f0f0f0;
$border_color : #ececec;
$border_color_sec : #f1f1f1;

$font_default : 'Quicksand', sans-serif;


$imgs : "./assets/images";
$fonts : "./assets/fonts";

/*bootstrap overwrites*/
$font-size-base: 1.6rem;
$input-btn-focus-width : 0;
$input-btn-focus-color : none;
$input-btn-focus-box-shadow: none;
$input-height:45px;
