
<form [formGroup]="form_group" (ngSubmit)="submit()" class="config-form" method="post" action="/">

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="input-block">
        <label for="Name">Logo <span class="color-red">*</span></label>
        <input id="Logo" type="file" (change)="onFileChange($event)" #fileInput single>
      </div>
      <div class="clearfix images-wrapper">
        <figure class="logo-image" *ngIf="path">
          <div class="{{loading?'loader': ''}}">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            <img [src]="sanitize(path)" alt="">
          </div>
        </figure>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="input-block">
        <label for="Name">Name <span class="color-red">*</span></label>
        <input formControlName="Name" id="Name" type="text">
        <div class="invalid-feedback" *ngIf="(form_group.get('Name').dirty && form_group.get('Name').errors )">
          Please enter title for the location.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="input-block">
        <label for="RefundPolicy">Refund Policy</label>
        <textarea formControlName="RefundPolicy" id="RefundPolicy" type="text"></textarea>
        <div class="invalid-feedback" *ngIf="(form_group.get('RefundPolicy').dirty && form_group.get('RefundPolicy').errors )">
          Please enter landline or mobile number for the location.
        </div>
      </div>
    </div>
  </div>

  <div class="pt-30">
    <button class="btn btn-success btn-lg btn-round" type="submit" [disabled]="form_group.invalid"><i class="icon icon-save"></i> Save</button>
  </div>
  <div class="submitResponse {{responseType}}">
    <div class="container" [innerHtml]="FormErr"></div>
  </div>
</form>

