<app-navigation></app-navigation>
<div class="app-canvas clearfix">

    <main class="page-area">
        <header>
            <h1>Settings</h1>
            <!--<p>It is a long established fact that a reader will be distracted.</p>-->
        </header>
        <div>

            <div class="pt-50">
                <div class="custom-tabs-wrap">
                    <ul class="custom-tabs-nav clearfix">
                        <li class="nav-item">
                            <a class="nav-link {{settingsFilter[0]?'active':''}}"
                               (click)="settingsChanged(0)">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{settingsFilter[1]?'active':'disabled'}}" (click)="settingsChanged(1)">Loyalty
                                program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{settingsFilter[2]?'active':'disabled'}}" (click)="settingsChanged(2)">Categories
                                & tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{settingsFilter[3]?'active':'disabled'}}" (click)="settingsChanged(3)">Expense
                                categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{settingsFilter[4]?'active':'disabled'}}" (click)="settingsChanged(4)">Schematics</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <app-settings-company class="{{settingsFilter[0]?'d-block':''}}"
                                      style="display: none"></app-settings-company>
                <app-loyalty-program class="{{settingsFilter[1]?'d-block':''}}"
                                     style="display: none"></app-loyalty-program>
                <app-settings-categories-tags class="{{settingsFilter[2]?'d-block':''}}"
                                              style="display: none"></app-settings-categories-tags>
                <app-settings-expense-categories class="{{settingsFilter[3]?'d-block':''}}"
                                                 style="display: none"></app-settings-expense-categories>
                <app-settings-schematics class="{{settingsFilter[4]?'d-block':''}}"
                                                 style="display: none"></app-settings-schematics>
            </div>

        </div>
    </main>
</div>
